.table-payments {
  width: 95%;
  max-width: 1120px;
  margin: 0 auto;
}
.payment-action  {

}

.payment-action__link {
  margin-right: 15px;
}

.payments-action-list {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 15px;
  list-style-type: none;
  font-size: 0;
}

.payments-action-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  position: relative;
}

.payment-action-add {
  display: none;
}

.payments-action-item:hover .payment-action-add {
  display: block;
  position: absolute;
  top: 12px;
  left: -35px;

}

.form-control {
  width: 400px;
  margin-bottom: 5px;
}

.search {
  display: none;
}

.payments-action-item:hover .search {
  display: block;
  position: absolute;
  top: -3px;
  left: 25px;
}

.sign-form {
  margin: 0 auto;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}