/*global styles start*/
* {
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-size: 100%; /*16px = 1em default*/
}

.container {
    width: 100%;
    max-width: 960px;
    margin:auto;
}
/*Navigation block start*/
nav {
    background: #303123;
    height: 53px;
    padding: 38px 10.416666667% 10px 10.416666667%;/*100/960px*/

}
@font-face {
    font-family: erasitc-medium;
    src: url(fonts/erasitc-medium.ttf);
}
nav ul  {
    margin: 0 auto 0 auto;

}
nav ul li {
    float: right;
    padding: 0 10px;

}
nav ul li a {
    font-size: .6875em; /* 11/16px */
    font-family: erasitc-medium;
    color: #b5b3b3;
    letter-spacing: -0.04em;
    line-height: 0.434375em; /* 6.95px */;
}
nav ul li:hover {
    border: 1px solid #444532;
    border-radius: 5px;

}
div.logo-container {

    margin-top:18px;
    /*float: left;*/
    max-width: 112px;
    width: 100%/*11.666666667%*/;

}
nav img {
    float:left;
    width: 100%;
    height: auto;
}
nav ::after {
    content: " ";
    clear: both;
}
/*navigation block end*/
/*header block start*/
header {
    background: url("img/bg-header.png") -2px 0px ;
    height: 235px;
    margin-top: -2px;
    padding-left: 4.6875%;/* 45/960px*100 */
}
header div.header-img-container {

    margin-top:18px;
    float: left;
    max-width:356px;
    width: 90%/*37.083%*/;

}
header div.header-img-container img  {
    width: 100%;
    height:auto;

}
@font-face {
    font-family: gill sans mt;
    src: url(fonts/gil.TTF);
}

.header-container {
    float: left;
    /* max-width:278px;*/
    width:28.95833%;/* 278/960*100 */
    margin-left: 13.541666667%; /* 130px*960 */
    margin-top: 55px;
}
header h1 {
    font-family: "gill sans mt";
    font-size: 1.8em;
    line-height: 0.74375em; /* 6.95px */;
    letter-spacing: -0.04em;
    color: #ffffff;
    text-align: center;
}
.tagline {
    font-family: erasitc-madium;
    font-size: .75em;
    color: #4c0000;
    line-height: 0.834375em; /* 6.95px */;
    /*padding-left: 38px;*/
    letter-spacing: -0.04em;

}

@font-face {
    font-family: Candara;
    src: url(fonts/Candara.ttf);
}
p.head-text   {
    font-family:Candara;
    color: #ffffff;
    font-size: .6875em; /* 11/16px */
    line-height: 0.934375em; /*14.95px;*/
    font-style: italic;
}
hr.line {
    width: 63%;/* 177/278 */
    height: 1px;
    display: block;
    background-color: #f9ab6d;
    margin: 16px auto;
}
/*header block end*/
/*content block start*/
.content-block {
    padding: 48px 11.25% 48px 12.7083%; /* 108/960 && 122/960 */
    margin-top: -4px;
    background-image: linear-gradient(to bottom, #e3e2e2, #f2efef);
}

.content-block h2 {
    font-family: "Candara";
    font-size: 1.1875em /*19px*/;
    color: #616161;
    line-height: 0.4375em /*7px*/;
    font-weight: normal;
}
@font-face {
    font-family: helvetica se regular;
    src: url("fonts/HV.ttf");
}

.content-block p {
    font-family: "helvetica se regular";
    font-size: .6875em; /* 11/16px */
    line-height: 1.0625em/*17px*/;
    color: #9c9b9b;
    text-indent: 35px;
    margin-top: 24px;
}
.content-block ul {
    margin: 0 auto;
}

.content-block ul li {
    float: left;
    width: 90%/*195px*!*/;
    max-width: 195px;
    padding: 12px 0 12px 5px;
    font-family: "helvetica se regular";
    font-size: .6875em; /* 11/16px */
    margin-right: 1.2%;/*56px*/;
    color: #9c9b9b;
}
.content-block ul li:last-child {
    margin-right: 0px;
}
.content-block ul li h2 {
    padding-left: 45px;
}
.content-block ul li.Costumer-Review {
    background: url("img/Customer-Review-Icon.png") 0 2% no-repeat;

}

.content-block ul li.Features {
    background: url("img/Features-Icon.png") 5% 2% no-repeat

}

.content-block ul li.Prices {
    background: url("img/Prices-Icon.png") 5% 2% no-repeat;
}
.content-block ::after {
    content: " ";
    clear: both;
    display: table;
}
blockquote {
    font-style: italic;
}

.content-block ul li>p{
    text-indent: 0;
    margin-top: 24px;
}
.Features li {
    list-style-image:  url("img/Check-icon.png");
}
.Prices li {
    list-style-image:  url("img/Money-Icon.png");
}
/*content block end*/
/*footer block start*/

footer {
    background: #303123;
    height: 20px;
    padding: 10px 10.416666667% 20px 10.416666667%;
}

footer div.footer-img-container {
    /*margin-top:18px;*/
    float: left;
    max-width: 112px;
    width:  50%;
    margin-right: 10px;
}

footer img {

    width: 100%/* 112px*/;


}

footer ::after {
    content: " ";
    clear: both;
}
footer p {
    font-family: "helvetica se regular";
    font-size: .6875em; /* 11/16px */
    margin-top: 7px;
    margin-left: 5px;
    color: #9c9b9b;
    float:left;
    width: 250px;


}
footer img.rss {
    float:right;
    width: 11px;
    margin-right: 10px;
    margin-top: 10px;
}

/*footer block end*/
/*global style end*/
/* от 825px и выше*/
@media screen and (max-width:825px)
{
    .content-block ul {
        float: left;
    }
    .content-block ul li {
        float: left;
        width: 90%/*195px*!*/;
        /*max-width: 195px;*/
        padding: 12px 0 12px 5px;
        font-family: "helvetica se regular";
        font-size: .6875em; /* 11/16px */
        margin-right: 1.2%;/*56px*/;
        color: #9c9b9b;
    }
    .content-block ::after {
        content: " ";
        clear: both;
        display: table;
    }

}
