.main-nav {

  position: relative;

  padding-top: 20px;
  padding-bottom: 20px;

  background-color: transparentize($bg-color--darkest, 0.3);
}

.main-nav__wrapper {
  @include wrapper();
}

.main-nav__toggle {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 60px;

  font-size: 0;

  background-color: transparent;
  cursor: pointer;

  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: ' ';
  position: absolute;
  top: 20px;
  left: 17px;

  width: 36px;
  height: 2px;

  background-color: $base-color;
  box-shadow: 0 8px 0 0 $base-color,
  0 16px 0 0 $base-color;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $base-color--hover;
  box-shadow: 0 8px 0 0 $base-color--hover,
  0 16px 0 0 $base-color--hover;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: transparentize($base-color--hover, 0.3);
  box-shadow: 0 8px 0 0 transparentize($base-color--hover, 0.3),
  0 16px 0 0 transparentize($base-color--hover, 0.3);
}

.main-nav--closed {
  .main-nav__list {
    display: none;
  }
}
.main-nav--opened {
  .main-nav__list {
    position: absolute;
    top: 65px;
    left: 0px;

    @include container();
    display: block;
    padding: 0;

    list-style: none;
  }
}

.main-nav__item {
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.main-nav__item a {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #283645;

  border-top: 1px solid #485461;
  
  &:hover {
    color: $base-color--hover;
  }
  &:active {
    color: transparentize($base-color--hover, 0.3);
  }
}

.main-nav--opened {
  background-color: $bg-color--darkest;
}

.main-nav--opened .main-nav__toggle {
  top: 5px;
  right: 0;
  z-index: 2;

  &::before,
  &::after {
    content: ' ';
    position: absolute;
    top: 30px;
    left: 18px;

    width: 36px;
    height: 2px;

    background-color: $base-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $base-color--hover;
  }

  &:active::before,
  &:active::after {
    background-color: transparentize($base-color--hover, 0.3);
  }
}