.opportunity {
  @include container();

  margin-top: -50px;
  padding-top: 85px;
  padding-bottom: -50px;


  color: $text-color;

  background-color: $base-color--dark;

}
.opportunity__wrapper {
  @include wrapper();

  text-align: center;
}
.opportunity__item {
  margin-bottom: 40px;
}
.opportunity__item b {
  font-size: 18px;
  line-height: 10px;
  font-weight: 700;
}
.opportunity__item p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.opportunity__img {
  margin-bottom: -4px;
}