.reviews {
  @include container();

  position: relative;

  padding-top: 50px;
  padding-bottom: 35px;

  color: $text-color;

  background-color: $base-color;

  &::after {
    content: "";
    position: absolute;
    bottom: -32px;

    width: 0;
    height: 0;

    border-style: solid;
    border-width: 32px 320px 0 0;
    border-color: $base-color transparent transparent transparent;
  }
}

.reviews__wrapper {
  @include wrapper();
}

.reviews__input {
    display: none;
}

.reviews__item {
    @include clearfix;
    display: flex;
    flex-direction: column;

    text-align: center;

    p {
      order: 2;
      width: 100%;

      font-size: 14px;
      font-weight: 400;
    }
  }

  .reviews__author-name {
    order: 1;
    width: 100%;

    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    font-style: normal;

    span {
      display: none;
    }
  }

  .reviews__prev,
  .reviews__next {
    display: none;
  }

  .reviews__toggles {
    display: block;
    margin: 0 auto;

    text-align: center;
  }

  .slider__toggle {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 13px;
    height: 13px;
    margin-left: 15px;

    background-color: $input-bg-color;

    border-radius: 50%;

    &:hover {
      background-color: darken($input-bg-color, 30%);
    }

    &:active {
      background-color: transparentize($input-bg-color, 0.3);
    }
  }
  #reviews-input-1:checked ~ .reviews__toggles label[for="reviews-input-1"],
  #reviews-input-2:checked ~ .reviews__toggles label[for="reviews-input-2"],
  #reviews-input-3:checked ~ .reviews__toggles label[for="reviews-input-3"] {

    background-color: $base-color;
    border: 2px solid $text-color;

  }
  #reviews-input-1:checked ~ .reviews__items .slider__item-1 {
    display: flex;
  }

  #reviews-input-1:checked ~ .reviews__items .slider__item-2,
  #reviews-input-1:checked ~ .reviews__items .slider__item-3 {
    display: none;
  }

  #reviews-input-2:checked ~ .reviews__items .slider__item-2 {
    display: flex;
  }

  #reviews-input-2:checked ~ .reviews__items .slider__item-1,
  #reviews-input-2:checked ~ .reviews__items .slider__item-3 {
    display: none;
  }
  #reviews-input-3:checked ~ .reviews__items .slider__item-3 {
    display: flex;
  }

  #reviews-input-3:checked ~ .reviews__items .slider__item-1,
  #reviews-input-3:checked ~ .reviews__items .slider__item-2 {
    display: none;
  }

  @media (min-width: $tablet-widths) {
    .reviews {
      &::after {
        border-width: 55px 700px 0 0;
      }
    }

    .reviews__item {
      p {
        order: 1;

        font-size: 18px;
      }
    }
    .reviews__author-name {
      order: 2;

      span {
        display: inline;

        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  @media (min-width: $desktop-widths) {
    .reviews {

      background-color: $bg-lightgrey;
    }

    .reviews__items {
      width: 750px;
      margin-left: 60px;
      padding-left: 0;
    }

    .reviews__next {
      right: 125px;
    }
  }
  .reviews__item-show {
    display: block;
  }
  .reviews__item-hidden {
    display: none;
  }
