.navbar
  flex-direction: row;
  justify-content: space-between;
  color: white

  .fa-shopping-cart:before
      color white

.cart
  margin-top: 5px

a.navbar-brand
  color: white!important

.row
  padding-bottom: 7px

.card
  margin-bottom: 7px

.card-text
  padding: 15px

.paginator
  margin-top: 7px

  .btn
    margin-right: 7px
