
/* roboto-100 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/roboto-v18-latin_cyrillic-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
          url('../fonts/roboto-v18-latin_cyrillic-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/roboto-v18-latin_cyrillic-100.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v18-latin_cyrillic-100.woff') format('woff'), /* Modern Browsers */
          url('../fonts/roboto-v18-latin_cyrillic-100.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/roboto-v18-latin_cyrillic-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v18-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
          url('../fonts/roboto-v18-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/roboto-v18-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v18-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
          url('../fonts/roboto-v18-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/roboto-v18-latin_cyrillic-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
          url('../fonts/roboto-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/roboto-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/roboto-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/roboto-v18-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v16-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
          url('../fonts/roboto-v16-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/roboto-v16-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v16-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
          url('../fonts/roboto-v16-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/roboto-v16-cyrillic_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v16-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
          url('../fonts/roboto-v16-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/roboto-v16-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v16-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/roboto-v16-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/roboto-v16-cyrillic_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v16-cyrillic_latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
          url('../fonts/roboto-v16-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/roboto-v16-cyrillic_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v16-cyrillic_latin-900.woff') format('woff'), /* Modern Browsers */
          url('../fonts/roboto-v16-cyrillic_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/roboto-v16-cyrillic_latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

.visually-hidden
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
html
  margin: 0
  padding: 0
body
  position: relative
  min-width: 360px
  margin: 0
  padding: 0
  font-family 'Roboto', Arial, sans-serif;
  background-color: #f5f5f5

.overlay
  position: fixed;
  overflow: scroll
  right: 0
  left: 0
  &:before
    content: '';
    display: block;
    position: fixed;

    top: 0;
    left: 0;
    right: 0
    bottom: 0
    height: 100%;
    width: 100%;
    background-color: rgba(110, 111, 116, .7);
    z-index: 100;
    transition all  2s ease-in 1s

ul
  list-style-type none

p, h2, span, button, a
  letter-spacing: -0.025em;

button,
*:-moz-focus-outer,
*::-moz-focus-inner,
select
  outline none

select:active, select:focus {
    outline: none !important;
  }
select::-moz-focus-inner {
  border: 0 !important;
}

button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-moz-placeholder
  position: absolute
  top: 13px

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}




/*
.s-ckassa-footer, .s-master_footer, .s-mir_footer, .s-psi_dss_footer, .s-visa_footer
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  margin-left 3px;


.s-ckassa-footer
  sprite($s_ckassa_footer)

.s-master_footer
  sprite($s_master_footer)

.s-mir_footer
  sprite($s_mir_footer)

.s-psi_dss_footer
  sprite($s_psi_dss_footer)

.s-visa_footer
  sprite($s_visa_footer)*/




