/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$s_icon_attention_name = 's-icon-attention';
$s_icon_attention_x = 0px;
$s_icon_attention_y = 378px;
$s_icon_attention_offset_x = 0px;
$s_icon_attention_offset_y = -378px;
$s_icon_attention_width = 60px;
$s_icon_attention_height = 60px;
$s_icon_attention_total_width = 138px;
$s_icon_attention_total_height = 438px;
$s_icon_attention_image = '../img/png-sprite.png';
$s_icon_attention = 0px 378px 0px -378px 60px 60px 138px 438px '../img/png-sprite.png' 's-icon-attention';
$s_icon_mir_accept_name = 's-icon-mir-accept';
$s_icon_mir_accept_x = 0px;
$s_icon_mir_accept_y = 320px;
$s_icon_mir_accept_offset_x = 0px;
$s_icon_mir_accept_offset_y = -320px;
$s_icon_mir_accept_width = 138px;
$s_icon_mir_accept_height = 56px;
$s_icon_mir_accept_total_width = 138px;
$s_icon_mir_accept_total_height = 438px;
$s_icon_mir_accept_image = '../img/png-sprite.png';
$s_icon_mir_accept = 0px 320px 0px -320px 138px 56px 138px 438px '../img/png-sprite.png' 's-icon-mir-accept';
$s_icon_mir_name = 's-icon-mir';
$s_icon_mir_x = 0px;
$s_icon_mir_y = 0px;
$s_icon_mir_offset_x = 0px;
$s_icon_mir_offset_y = 0px;
$s_icon_mir_width = 113px;
$s_icon_mir_height = 32px;
$s_icon_mir_total_width = 138px;
$s_icon_mir_total_height = 438px;
$s_icon_mir_image = '../img/png-sprite.png';
$s_icon_mir = 0px 0px 0px 0px 113px 32px 138px 438px '../img/png-sprite.png' 's-icon-mir';
$s_icon_mscard_securecode_name = 's-icon-mscard-securecode';
$s_icon_mscard_securecode_x = 0px;
$s_icon_mscard_securecode_y = 116px;
$s_icon_mscard_securecode_offset_x = 0px;
$s_icon_mscard_securecode_offset_y = -116px;
$s_icon_mscard_securecode_width = 133px;
$s_icon_mscard_securecode_height = 47px;
$s_icon_mscard_securecode_total_width = 138px;
$s_icon_mscard_securecode_total_height = 438px;
$s_icon_mscard_securecode_image = '../img/png-sprite.png';
$s_icon_mscard_securecode = 0px 116px 0px -116px 133px 47px 138px 438px '../img/png-sprite.png' 's-icon-mscard-securecode';
$s_icon_mscard_name = 's-icon-mscard';
$s_icon_mscard_x = 0px;
$s_icon_mscard_y = 216px;
$s_icon_mscard_offset_x = 0px;
$s_icon_mscard_offset_y = -216px;
$s_icon_mscard_width = 64px;
$s_icon_mscard_height = 50px;
$s_icon_mscard_total_width = 138px;
$s_icon_mscard_total_height = 438px;
$s_icon_mscard_image = '../img/png-sprite.png';
$s_icon_mscard = 0px 216px 0px -216px 64px 50px 138px 438px '../img/png-sprite.png' 's-icon-mscard';
$s_icon_pci_dss_name = 's-icon-pci-dss';
$s_icon_pci_dss_x = 0px;
$s_icon_pci_dss_y = 268px;
$s_icon_pci_dss_offset_x = 0px;
$s_icon_pci_dss_offset_y = -268px;
$s_icon_pci_dss_width = 129px;
$s_icon_pci_dss_height = 50px;
$s_icon_pci_dss_total_width = 138px;
$s_icon_pci_dss_total_height = 438px;
$s_icon_pci_dss_image = '../img/png-sprite.png';
$s_icon_pci_dss = 0px 268px 0px -268px 129px 50px 138px 438px '../img/png-sprite.png' 's-icon-pci-dss';
$s_icon_virified_visa_name = 's-icon-virified-visa';
$s_icon_virified_visa_x = 0px;
$s_icon_virified_visa_y = 165px;
$s_icon_virified_visa_offset_x = 0px;
$s_icon_virified_visa_offset_y = -165px;
$s_icon_virified_visa_width = 114px;
$s_icon_virified_visa_height = 49px;
$s_icon_virified_visa_total_width = 138px;
$s_icon_virified_visa_total_height = 438px;
$s_icon_virified_visa_image = '../img/png-sprite.png';
$s_icon_virified_visa = 0px 165px 0px -165px 114px 49px 138px 438px '../img/png-sprite.png' 's-icon-virified-visa';
$s_icon_visa_name = 's-icon-visa';
$s_icon_visa_x = 0px;
$s_icon_visa_y = 34px;
$s_icon_visa_offset_x = 0px;
$s_icon_visa_offset_y = -34px;
$s_icon_visa_width = 105px;
$s_icon_visa_height = 32px;
$s_icon_visa_total_width = 138px;
$s_icon_visa_total_height = 438px;
$s_icon_visa_image = '../img/png-sprite.png';
$s_icon_visa = 0px 34px 0px -34px 105px 32px 138px 438px '../img/png-sprite.png' 's-icon-visa';
$s_logo_name = 's-logo';
$s_logo_x = 0px;
$s_logo_y = 68px;
$s_logo_offset_x = 0px;
$s_logo_offset_y = -68px;
$s_logo_width = 53px;
$s_logo_height = 46px;
$s_logo_total_width = 138px;
$s_logo_total_height = 438px;
$s_logo_image = '../img/png-sprite.png';
$s_logo = 0px 68px 0px -68px 53px 46px 138px 438px '../img/png-sprite.png' 's-logo';
$spritesheet_width = 138px;
$spritesheet_height = 438px;
$spritesheet_image = '../img/png-sprite.png';
$spritesheet_sprites = $s_icon_attention $s_icon_mir_accept $s_icon_mir $s_icon_mscard_securecode $s_icon_mscard $s_icon_pci_dss $s_icon_virified_visa $s_icon_visa $s_logo;
$spritesheet = 138px 438px '../img/png-sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
