@import "normalize.styl"
@import "mixins.styl"
@import "variables.styl"
@import "sprite.styl"
@import "scaffolding.styl"
@import "swiper.styl"
@import "blocks/page-header.styl"
@import "blocks/card2card.styl"
@import "blocks/payment_systems.styl"
@import "blocks/page-footer.styl"
@import "blocks/footer-contacts.styl"
@import "blocks/footer-menu.styl"
@import "blocks/footer-apps.styl"
@import "blocks/success.styl"
@import "blocks/error-window.styl"
@import "blocks/cvc-window.styl"
