/* colors*/


/*media queries width*/
tablet-widths = 640px;
desktop-widths =1160px;
tablet-widths-only = '(min-width: 627px) and (max-width: 989px)'
desktop-width-only = '(min-width: 989px)'
mobile-width-only = '(max-width: 499px)'



