<nav class="main-nav main-nav--closed main-nav--nojs">
 <a class="main-nav__logo-link" href="">
  <svg width="72" height="63">
    <use xlink:href="#logo"/>
  </svg>
 </a>
 <ul class="main-nav__user-list">
  <li class="main-nav__user-item"><a href="" class="main-nav__login">Log in</a></li>
  <li class="main-nav__user-item"><a href="" class="main-nav__sign-up">Sign up</a></li>
 </ul>
  <button class="main-nav__toggle ">Открыть меню</button>
<ul class="main-nav__list">
    <li class="main-nav__item"><a>Page 1</a></li>
    <li class="main-nav__item"><a href="">Page 2</a></li>
    <li class="main-nav__item"><a href="">Page 3</a></li>
    <li class="main-nav__item"><a href="">Page 4</a></li>
  </ul>
</nav>