<section class="mobile-app scroll">
  <div class="mobile-app__wrapper">
    <img src="img/iphone.png" width="548" height="794" alt="Mobile app" class="">

    <div class="mobile-app__descrition-container">
      <h2 class="mobile-app__header">Introducing the fudi app</h2>
      <p class="mobile-app__text">
      Morbi eget posuere dolor. Pellentesque cursus aliquet aliquet. Aeneanet
      felis sit amet diam mollis ullamcorper. Nullam consequat sem a ante vest
      ibulum tristique. Suspendisse tristique lacus ac mattis porta.
      </p>
      <p class="mobile-app__text">
      Vivamus ligula quam, vehicula non lacinia sed, faucibus sit amet libero. In
      libero dui, eleifend eu nisi id, egestas fringilla odio. In varius quam a mas
      sa hendrerit ullamcorper a eu justo. Suspendisse porta mattis convallis.
      Aenean tempus ligula ac odio rhoncus, quis aliquam dolor accumsan.
     </p>
      <p class="mobile-app__text">
      Suspendisse aliquet felis consectetur libero congue, sed pulvinar diam
      malesuada. Duis vehicula a nibh id hendrerit. Donec sit amet ultrices
      ante, a mattis massa.
      </p>
      <a href="" class="mobile-app__link">
        <img src="img/btn-apple.png" alt="Mobile app for apple device" width="112" height="39" ></a>
      <a href="" class="mobile-app__link">
        <img src="img/btn-google.png" alt="Mobile app for android device" width="112" height="39" ></a>
    </div>
  </div>
</section>