<section class="opportunity">
  <div class="opportunity__wrapper">
    <h2 class="visually-hidden">Opportunity</h2>
    <input type="radio" class="opportunity__input" name="opportunity" id="opportunity-input-1" checked>
    <input type="radio" class="opportunity__input" name="opportunity" id="opportunity-input-2">
    <input type="radio" class="opportunity__input" name="opportunity" id="opportunity-input-3">

    <ul class="opportunity__list">
      <li class="opportunity__item slider__item-1">
      <div class="opportunity__icon-wrapper">
        <svg width="60" height="60" class="icon-burger">
          <use xlink:href="#icon-burger"/>
        </svg>
      </div>
        <b class="opportunity__item-header">Get inspired</b>
        <p class="opportunity__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum laudantium non repudiandae sunt. Ab, blanditiis    earum ex fuga officiis pariatur perspiciatis quos rem repudiandae veritatis vero, voluptatum? Architecto, repellendus!</p>
      </li>
      <li class="opportunity__item slider__item-2">
        <div class="opportunity__icon-wrapper">
          <svg width="60" height="32" class="icon-money">
            <use xlink:href="#icon-money"/>
          </svg>
        </div>
        <b opportunity__item-header>Get rewarded</b>
        <p class="opportunity__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum laudantium non repudiandae sunt. Ab, blanditiis    earum ex fuga officiis pariatur perspiciatis quos rem repudiandae veritatis vero, voluptatum? Architecto, repellendus!</p>
      </li>
      <li class="opportunity__item slider__item-3">
        <div class="opportunity__icon-wrapper">
          <svg width="60" height="60" class="icon-cook">
            <use xlink:href="#icon-cook"/>
          </svg>
        </div>
        <b opportunity__item-header>Get social</b>
        <p class="opportunity__item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum laudantium non repudiandae sunt. Ab, blanditiis    earum ex fuga officiis pariatur perspiciatis quos rem repudiandae veritatis vero, voluptatum? Architecto, repellendus!</p>
      </li>
    </ul>
    <div class="opportunity__toggles slider__toggles">
      <label class="slider__toggle" for="opportunity-input-1"></label>
      <label class="slider__toggle" for="opportunity-input-2"></label>
      <label class="slider__toggle" for="opportunity-input-3"></label>
    </div>
  </div>
</section>