<footer class="page-footer">
<div class="page-footer__wrapper">
  <div class="page-footer__copyright">
    &copy; 2014 Fudi. All Right Reservid
  </div>
  <a href="www.bekades.com" class="page-footer__designed">Designed by <b>www.bekades.com</b></a>
</div>
</footer>
@@include('modal-window/login-window.html')
@@include('modal-window/signup-window.html')
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.min.js"></script>
</body>
</html>