<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name= "viewport" content= "width=device-width, initial-scale=1.0" >
  <title>@@page-title</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
<header class="page-header @@page-header--inner">
  <h1 class="visually-hidden">Recipes</h1>
  <div class="page-header__wrapper">
    @@include('blocks/main-nav.html')
    <div class="page-header__description-container">
      <h2 class="page-header__header">Find your Favorite<br><br><b>Recipes</b></h2>
      <a class="btn page-header__btn-get">Get started</a>
        <p class="page-header__description">
          Or send us your own recipes and <span>get rewarded!</span>
        </p>
    </div>
  </div>
</header>
