<section class="recipes">
  <h2 class="recipes__header">Browse by cuisines</h2>
  <ul class="recipes__list">
    <li class="recipes__item recipes__item--italian"><a href="">327 Recipes<br><b>Italian</b></a></li>
    <li class="recipes__item recipes__item--indian"><a href="">856 Recipes<br><b>Indian</b></a></li>
    <li class="recipes__item recipes__item--french"><a href="">27 Recipes<br><b>French</b></a></li>
    <li class="recipes__item recipes__item--steakhouse"><a href="">174 Recipes<br><b>Steakhouse</b></a></li>
    <li class="recipes__item recipes__item--seafood"><a href="">731 Recipes<br><b>Seafood</b></a></li>
    <li class="recipes__item recipes__item--sushi"><a href="">237 Recipes<br><b>Sushi</b></a></li>
    <li class="recipes__item recipes__item--mexican"><a href="">529 Recipes<br><b>Mexican</b></a></li>
    <li class="recipes__item recipes__item--chinese"><a href="">145 Recipes<br><b>Chinese</b></a></li>
    <li class="recipes__item recipes__item--pizza"><a href="">327 Recipes<br><b>Pizza</b></a></li>
    <li class="recipes__item recipes__item--american"><a href="">1.437 recipes<br><b>American</b></a></li>
  </ul>
</section>