<section class="reviews">
  <div class="reviews__wrapper slider">
    <h2 class="visually-hidden">Reviews</h2>
    <input type="radio" class="reviews__input" name="reviews" id="reviews-input-1" checked>
    <input type="radio" class="reviews__input" name="reviews" id="reviews-input-2">
    <input type="radio" class="reviews__input" name="reviews" id="reviews-input-3">
    <div class="reviews__items">

      <blockquote class="reviews__item  slider__item-1">
        <div class="reviews__author-photo"><img src="img/reviews__photo.jpg" width="118" height="118" alt="Michael Dawson" class=""></div>
        <p>1. “I am so happy because I found this recipe, and it just made my life easier.
          Thanks  so much for sharing!”</p>
        <cite class="reviews__author-name">Michael Dawson, San Francisco, CA -1 </cite>
      </blockquote>
      <blockquote class="reviews__item  slider__item-2">
        <div class="reviews__author-photo"><img src="img/reviews__photo.jpg" width="118" height="118" alt="Michael Dawson" class=""></div>
        <p>2. “I am so happy because I found this recipe, and it just made my life easier.
          Thanks  so much for sharing!”</p>
        <cite class="reviews__author-name">Michael Dawson, San Francisco, CA -2 </cite>
      </blockquote>
      <blockquote class="reviews__item  slider__item-3">
        <div class="reviews__author-photo"><img src="img/reviews__photo.jpg" width="118" height="118" alt="Michael Dawson" class=""></div>
        <p>3. “I am so happy because I found this recipe, and it just made my life easier.
          Thanks  so much for sharing!”</p>
        <cite class="reviews__author-name">Michael Dawson, San Francisco, CA -3 </cite>
      </blockquote>
    </div>
    <div class="reviews__toggles slider__toggles">
      <label class="reviews__slider-toggle" for="reviews-input-1"></label>
      <label class="reviews__slider-toggle" for="reviews-input-2"></label>
      <label class="reviews__slider-toggle" for="reviews-input-3"></label>
    </div>
  </div>
</section>