<section class="stats">

    <h2 class="stats__header visually-hidden ">Stats</h2>
    <div class="stats__item"><b>23,567</b><br><span >Recipes Available</span></div>
    <div class="stats__item"><b>431,729</b><br><span >Active Users</span></div>
    <div class="stats__item"><b>892.173</b><br><span >Positive Reviews</span></div>
    <div class="stats__item"><b>56,581</b><br><span >Photos & Videos</span></div>
    <div class="stats__item"><b>3,182</b><br><span >Spices and Herbs</span></div>

</section>