<section class="advantages">
  <div class="advantages__wrapper slider">
    <h2 class="advantages__title visually-hidden">Наши преимущества</h2>
    <input type="radio" class="slider__input" name="advantages" id="advantages-input-1" checked>
    <input type="radio" class="slider__input" name="advantages" id="advantages-input-2">
    <input type="radio" class="slider__input" name="advantages" id="advantages-input-3">
    <ul class="advantages__items">
      <li class="advantages__item  advantages__item--fast slider-item">
        <h3 class="advantages__item-title">Быстро</h3>
        <p>Мы делаем свою работу быстро! Два часа пролетят незаметно и вы - счастливый обладатель стильной стрижки-минутки</p>
      </li>
      <li class="advantages__item advantages__item--cool slider-item">
        <h3 class="advantages__item-title">Круто</h3>
        <p>Забудьте как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино! Во свяком случае внешне!</p>
      </li>
      <li class="advantages__item advantages__item--expensive slider-item">
        <h3 class="advantages__item-title">Дорого</h3>
        <p>Наши мастера - профессиналы своего дела и не мгут стоить дешево. К тому же, разве цена не дает определнный статус?</p>
      </li>
    </ul>
    <div class="advantages__toggles  slider__toggles">
      <label class="slider__toggle" for="advantages-input-1"></label>
      <label class="slider__toggle" for="advantages-input-2"></label>
      <label class="slider__toggle" for="advantages-input-3"></label>
    </div>
  </div>
</section>