<section class="portfolio">
  <header class="portfolio__header">
    <h2 class="portfolio__title">Наши работы</h2>
    <a href="index.html" class="btn portfolio__btn">На Главную</a>
  </header>
  <div class="recall">
    <picture>
      <source media="(min-width: 1200px)" srcset="img/recall__photo1-desktop.jpg">
      <source media="(min-width: 768px)" srcset="img/recall__photo1-tablet.jpg">
      <img src="img/recall__photo1-mobile.jpg" alt="Лжепетр Мчиславский">
    </picture>
    <span class="recall__work-of-month">Работа месяца</span>
    <b class="recall__name">Лжепетр Мчиславский</b>
    <p class="recall__comment">Где я только ни стригся, но так как делаете это вы — не умеет никто другой! Еще раз спасибо и до скорого!</p>
    <ul class="recall__list-services">
      <li class="recall__list-services__item recall__list-services__item--haircut">Стрижка</li>
      <li class="recall__list-services__item recall__list-services__item--shaving">Бритье</li>
      <li class="recall__list-services__item recall__list-services__item--mustache">Усы</li>
    </ul>
  </div>
  <div class="recall">
    <picture>
      <source media="(min-width: 1200px)" srcset="img/recall__photo2-desktop.jpg">
      <source media="(min-width: 768px)" srcset="img/recall__photo2-tablet.jpg">
      <img src="img/recall__photo2-mobile.jpg" alt="Саша Мальцев">
    </picture>
    <b class="recall__name">Саша Мальцев</b>
    <p class="recall__comment">Попросил омолодить и омолодили! Кто теперь скажет, что мне 45? </p>
    <ul class="recall__list-services">
      <li class="recall__list-services__item recall__list-services__item--haircut">Стрижка</li>
    </ul>
  </div>
  <div class="recall">
    <picture>
      <source media="(min-width: 1200px)" srcset="img/recall__photo3-desktop.jpg">
      <source media="(min-width: 768px)" srcset="img/recall__photo3-tablet.jpg">
      <img src="img/recall__photo3-mobile.jpg" alt="Владимир Иваныч">
    </picture>
    <b class="recall__name">Владимир Иваныч</b>
    <p class="recall__comment">К зимнему сезону — готов!</p>
    <ul class="recall__list-services">
      <li class="recall__list-services__item recall__list-services__item--shaving">Борода</li>
      <li class="recall__list-services__item recall__list-services__item--mustache">Усы</li>
    </ul>
  </div>
  <div class="recall">
    <picture>
      <source media="(min-width: 1200px)" srcset="img/recall__photo4-desktop.jpg">
      <source media="(min-width: 768px)" srcset="img/recall__photo4-tablet.jpg">
      <img src="img/recall__photo4-mobile.jpg" alt="Винстон Синий">
    </picture>
    <b class="recall__name">Винстон Синий</b>
    <p class="recall__comment">Как только заростаю и волосы начинают мешать видеть — бегом в Бородинский!!</p>
    <ul class="recall__list-services">
      <li class="recall__list-services__item recall__list-services__item--haircut">Стрижка</li>
    </ul>
  </div>
</section>