<section class="price">
  <h2 class="price__title">Прейскурант</h2>
  <div class="price__wrapper">
    <table class="price__list">
      <tr>
        <td class="price__num">1</td>
        <td class="price__name">
          <b>Классическая стрижка</b>
          <span>(c мытьем головы)</span>
        </td>
        <td class="price__rate">1 500 руб.</td>
      </tr>
      <tr>
        <td class="price__num">2</td>
        <td class="price__name">
          <b>Современный вариант</b>
          <span>(c мытьем головы)</span>
        </td>
        <td class="price__rate">1 500 руб.</td>
      </tr>
      <tr>
        <td class="price__num">3</td>
        <td class="price__name">
          <b>Индивидуальный подход</b>
          <span>(c мытьем головы)</span>
        </td>
        <td class="price__rate">2 000 руб.</td>
      </tr>
      <tr>
        <td class="price__num">4</td>
        <td class="price__name">
          <b>Бритье головы</b>
          <span>(без мытья)</span>
        </td>
        <td class="price__rate">500 руб.</td>
      </tr>
      <tr>
        <td class="price__num">5</td>
        <td class="price__name">
          <b>Бритье головы</b>
          <span>(c мытьем головы)</span>
        </td>
        <td class="price__rate">1 000 руб.</td>
      </tr>
    </table>
    <h2 class="price__discount-title visually-hidden">Скидка</h2>
    <span class="price__discount-time"> C 10:00 до 14:00 скидка 20%</span>
  </div>
</section>