<section class="reviews">
  <div class="reviews__wrapper slider">
    <h2 class="reviews__title">Отзывы о нас</h2>
    <a href="" class="reviews__write btn">Оставить свой</a>
    <input type="radio" class="reviews__input" name="reviews" id="reviews-input-1" checked>
    <input type="radio" class="reviews__input" name="reviews" id="reviews-input-2">
    <input type="radio" class="reviews__input" name="reviews" id="reviews-input-3">
    <div class="reviews__items">
      <blockquote class="reviews__item  slider__item-1">
        <div class="reviews__author-photo">
          <img src="img/pic-traviс.jpg" alt="Фото Тревиса Баркера" width="50" height="49">
        </div>
        <cite class="reviews__author-name">Тревис Баркер -1 </cite>
        <p>Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!</p>
      </blockquote>
      <blockquote class="reviews__item  slider__item-2">
        <div class="reviews__author-photo">
          <img src="img/pic-traviс.jpg" alt="Фото Тревиса Баркера" width="50" height="49">
        </div>
        <cite class="reviews__author-name">Тревис Баркер - 2 </cite>
        <p>Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!</p>
      </blockquote>
      <blockquote class="reviews__item  slider__item-3">
        <div class="reviews__author-photo">
          <img src="img/pic-traviс.jpg" alt="Фото Тревиса Баркера" width="50" height="49">
        </div>
        <cite class="reviews__author-name">Тревис Баркер - 3 </cite>
        <p>Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!</p>
      </blockquote>
    </div>
    <button class="reviews__prev" type="button">Предыдущий отзыв</button>
    <button class="reviews__next" type="button">Следующий отзыв</button>
    <div class="reviews__toggles slider__toggles">
      <label class="slider__toggle" for="reviews-input-1"></label>
      <label class="slider__toggle" for="reviews-input-2"></label>
      <label class="slider__toggle" for="reviews-input-3"></label>
    </div>
  </div>
</section>