.advantages__wrapper {
  @include container();

  padding-top: 30px;
}
.advantages__items {
  margin: 0;
  padding: 0;

  list-style: none;
}
.advantages input  {
  display: none;
}

.advantages__item {
  position: relative;

  margin-bottom: 23px;
  padding: 0 44px;
  padding-top: 125px;

  &::before {
    content: ' ';
    position: absolute;
    top: 10px;
    left: 50%;

    width: 95px;
    height: 88px;
    transform: translateX(-50%);  
  }
  &--fast::before {
    height: 94px;
    background: transparent url("../img/icon-advantages--scissors.svg");
  }

  &--cool::before {
    height: 88px;
    background: transparent url("../img/icon-advantages--chair.svg");
  }
  &--expensive::before {
    height: 91px;
    background: transparent url("../img/icon-advantages--expencive.svg");
  }
}
.advantages__item:nth-child(n+2) {
  display: none;
}
.advantages__item-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
.advantages__item p {
  font-size: 20px;
  text-align: center;
  line-height: 27px;
  font-weight: 400;
}
.advantages__toggles {
  display: inline-block;
  padding-left: 89px;
}
.slider__toggle {
  display: inline-block;

  margin-left: 22px;

  width: 11px;
  height: 11px;

  border: 2px solid #a5a5a5;
  transform: rotate(45deg);
}
#advantages-input-1:checked ~ .advantages__toggles label[for="advantages-input-1"],
#advantages-input-2:checked ~ .advantages__toggles label[for="advantages-input-2"],
#advantages-input-3:checked ~ .advantages__toggles label[for="advantages-input-3"]
{
  background-color: #ffffff;
}
#advantages-input-1:checked ~ .advantages__items .advantages__item--fast {
  display: block;
}

#advantages-input-1:checked ~ .advantages__items .advantages__item--cool,
#advantages-input-1:checked ~ .advantages__items .advantages__item--expensive{
  display: none;
}
#advantages-input-2:checked ~ .advantages__items .advantages__item--cool {
  display: block;
}

#advantages-input-2:checked ~ .advantages__items .advantages__item--fast,
#advantages-input-2:checked ~ .advantages__items .advantages__item--expensive{
  display: none;
}
#advantages-input-3:checked ~ .advantages__items .advantages__item--expensive {
  display: block;
}

#advantages-input-3:checked ~ .advantages__items .advantages__item--cool,
#advantages-input-3:checked ~ .advantages__items .advantages__item--fast{
  display: none;
}

@media (min-width: $tablet-widths) {
  .advantages__wrapper {
    padding-top: 42px;
  }
  .advantages__items {
    padding-bottom: 4px;
    display: block;
  }
  .advantages__item {
    margin: 0 30px;
    margin-bottom: 40px;
    padding: 0;
    padding-bottom: 39px;
    padding-left: 128px;
  }
  .advantages__item {
    &::before {
      left: 50px;
    }
  }
  .advantages__item:nth-child(n+2) {
    display: block;
  }
  .advantages__item-title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
  .advantages__item p {
    text-align: left;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
  }
  .advantages__toggles {
    display: none;
  }
  #advantages-input-1:checked ~ .advantages__items .advantages__item--fast,
  #advantages-input-1:checked ~ .advantages__items .advantages__item--cool,
  #advantages-input-1:checked ~ .advantages__items .advantages__item--expensive {
    display: block;
    }
  #advantages-input-2:checked ~ .advantages__items .advantages__item--fast,
  #advantages-input-2:checked ~ .advantages__items .advantages__item--cool,
  #advantages-input-2:checked ~ .advantages__items .advantages__item--expensive {
    display: block;
  }
  #advantages-input-3:checked ~ .advantages__items .advantages__item--fast,
  #advantages-input-3:checked ~ .advantages__items .advantages__item--cool,
  #advantages-input-3:checked ~ .advantages__items .advantages__item--expensive {
    display: block;
  }
}
@media (min-width: $desktop-widths) {
  #advantages-input-1:checked ~ .advantages__items .advantages__item--fast,
  #advantages-input-1:checked ~ .advantages__items .advantages__item--cool,
  #advantages-input-1:checked ~ .advantages__items .advantages__item--expensive {
    display: table-cell;
  }
  #advantages-input-2:checked ~ .advantages__items .advantages__item--fast,
  #advantages-input-2:checked ~ .advantages__items .advantages__item--cool,
  #advantages-input-2:checked ~ .advantages__items .advantages__item--expensive{
    display: table-cell;
  }
  #advantages-input-3:checked ~ .advantages__items .advantages__item--fast,
  #advantages-input-3:checked ~ .advantages__items .advantages__item--cool,
  #advantages-input-3:checked ~ .advantages__items .advantages__item--expensive{
    display: table-cell;
  }
  .advantages__wrapper {
    padding-top: 75px;
    padding-bottom: 59px;
  }
  .advantages__items {
    display: table;
    width: 100%;
  }
  .advantages__item {
    display: table-cell;
    width: 240px;
    margin: 0;
    padding: 0 40px;
    padding-top: 130px;

    &::before {
      left: 50%;
    }
  }
  .advantages__item:nth-child(n+2) {
    display: table-cell;
  }
  .advantages__item:nth-child(2) {
    width: 200px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .advantages__item-title {
    text-align: center;
  }
  .advantages__item p {
    text-align: center;
  }
}