.price {
  @include container();

  margin-top: -70px;
  padding-top: 40px;

  font-size: 20px;
  color: white;

  background-color: #353535;

  &::after {
    content: ' ';
    position: relative;
    top: 64px;

    width: 0;
    height: 0;

    border-style: solid;
    border-width: 40px 160px 0 160px;
    border-color: #353535 transparent transparent transparent;
  }
}
.price__wrapper {
  width: 280px;
  margin: 0 auto;
}
.price__title {
  text-align: center;
  text-transform: uppercase;
}
.price__name {
  width: 195px;
  span {
    display: block;
  }
}
.price__rate {
  vertical-align: top;
}
.price__discount-time {
  position: relative;
  
  display: block;
  margin-top: 30px;
  padding-top: 20px;
  padding-left: 110px;
  padding-bottom: 20px;

  border-top: 1px solid #484848;
  border-bottom: 1px solid #484848;
  &:before {
    content: ' ';

    position: absolute;
    top: 16px;
    left: 16px;

    width: 60px;
    height: 60px;

    background-image: url("../img/discount__clock.svg");
  }
}
@media (min-width:$tablet-widths) {
  .price {
    width: 768px;
    margin-top: -170px;
    padding-bottom: 58px;

    &:after {
      display: none;
      top: 71px;

      border-width: 45px 384px 0 384px;
    }
  }
  .price__wrapper {
    @include container;
  }
  .price__list {
    border-spacing: 0;

    td {
      padding-top: 13px;
      padding-bottom: 13px;
      border: 1px solid #484848;
    }
  }
  .price__num {
    width: 40px;

    padding-top: 13px;
    padding-left: 30px;

    font-size: 20px;
    color: #727272;

    border-right: 1px solid #484848;
  }
  .price__name {
    position: relative;
    width: 380px;
    padding-left: 20px;

    span {
      position: absolute;
      top: 0;
      right: 0;

      width: 140px;
      padding-top: 13px;
      padding-left: 20px;
      padding-bottom: 13px;

      border-left: 1px solid #484848;
    }
  }
  .price__rate {
    width: 140px;
    padding-left: 20px;
  }
  .price__discount-time {
    margin-top: 10px;
    padding-top: 40px;
    padding-left: 185px;
    padding-bottom: 40px;
  
    font-size: 30px;
    text-transform: uppercase;

    border: 1px solid #484848;
    &:before {
      top: 15px;

      width: 74px;
      height: 74px;


    }
  }
}
@media (min-width: $desktop-widths) {
  .price {
    width: 1200px;
  }
  .price__wrapper {
    @include clearfix;
  }
  .price__title {
    text-align: left;
    margin-left: 120px;
    margin-bottom: 50px;
  }
  .price__list {
    float: left;
  }
  .price__discount-time {
    float: right;

    width: 125px;
    height: 25px;
    margin-top: 0;
    padding-top: 208px;
    padding-left: 75px;
    padding-right: 75px;

    font-size: 20px;
    text-align: center;

    text-transform: none;
    &:before {
      top: 30px;
      left: 70px;
      width: 150px;
      height: 150px;
    }
  }
}