.reviews__wrapper {
  @include container();

  padding-top: 37px;
  padding-bottom: 28px;

  color: black;

  background-color: $bg-lightgrey;
  border-top: 1px solid #e5ddd5;
  &::after {
    content: ' ';
    position: relative;
    top: 93px;

    width: 0;
    height: 0;

    border-style: solid;
    border-width: 40px 160px 0 160px;
    border-color: $bg-lightgrey transparent transparent transparent;
    }
  }
  .reviews__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }
  .reviews__write {
    display: none;
  }
  .reviews__input {
    display: none;
  }
  .reviews__item {
    @include clearfix;
  }
  .reviews__author-photo {
    float: left;
    margin-right: 31px;
    min-height: 145px;
  }
  .reviews__author-name {
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
    font-style: normal;
  }
  .reviews__item p {
    margin-top: 5px;

    font-size: 16px;
    text-align: left;

    color: #000000;
  }
  .reviews__item:nth-child(n+2) {
    display: none;
  }
  .reviews__prev,
  .reviews__next {
    display: none;
  }
  .reviews__toggles {
    display: inline-block;
    padding-left: 89px;
  }
  .slider__toggle {
    display: inline-block;

    margin-left: 22px;

    width: 11px;
    height: 11px;

    border: 2px solid #a5a5a5;
    transform: rotate(45deg);
  }
  #reviews-input-1:checked ~ .reviews__toggles label[for="reviews-input-1"],
  #reviews-input-2:checked ~ .reviews__toggles label[for="reviews-input-2"],
  #reviews-input-3:checked ~ .reviews__toggles label[for="reviews-input-3"] {
    background-color: #000000;
  }
  #reviews-input-1:checked ~ .reviews__items .slider__item-1 {
    display: block;
  }
  #reviews-input-1:checked ~ .reviews__items .slider__item-2,
  #reviews-input-1:checked ~ .reviews__items .slider__item-3 {
    display: none;
  }
  #reviews-input-2:checked ~ .reviews__items .slider__item-2 {
    display: block;
  }
  #reviews-input-2:checked ~ .reviews__items .slider__item-1,
  #reviews-input-2:checked ~ .reviews__items .slider__item-3 {
    display: none;
  }
  #reviews-input-3:checked ~ .reviews__items .slider__item-3 {
    display: block;
  }
  #reviews-input-3:checked ~ .reviews__items .slider__item-1,
  #reviews-input-3:checked ~ .reviews__items .slider__item-2 {
    display: none;
  }

  @media (min-width: $tablet-widths) {
    .reviews {
      position: relative;

      max-width: 768px;
      margin: 0 auto;

      background-color: $bg-lightgrey;
    }
    .reviews__wrapper {
      border-top: 0;
      &::after {
        display: none;
      }
    }
    .reviews__items {
      padding-left: 80px;
      padding-right: 80px;

      border: 1px solid #e5ddd5;
    }
    .reviews__item {
      margin-bottom: 0;
    }
    .reviews__toggles {
      position: relative;
      top: -13px;

      margin-left: 39%;
      padding-left: 0;
      padding-right: 20px;

      background-color: $bg-lightgrey;

    }
    .reviews__author-photo img {
      width: 80px;
      height: 80px;

      border-radius: 50%
    }
    .reviews__title {
      display: inline-block;

      text-align: left;
      margin-right: 200px;
    }
    .reviews__prev {
      position: absolute;
      top: 117px;

      display: block;
      width: 48px;
      min-height: 165px;

      font-size: 0;

      border: 1px solid #e5ddd5;
      background-color: transparent;
      &::before {
        position: absolute;
        left: 15px;
        content: " ";

        width: 0;
        height: 0;

        border-style: solid;
        border-width: 6.5px 13px 6.5px 0;
        border-color: transparent black transparent transparent;
      }

    }
    .reviews__next {
      position: absolute;
      top: 117px;
      right: 64px;

      display: block;
      width: 48px;
      min-height: 165px;

      font-size: 0;

      border: 1px solid #e5ddd5;
      background-color: transparent;
      &::before {
        position: absolute;
        left: 15px;
        content: " ";

        width: 0;
        height: 0;

        border-style: solid;
        border-width: 6.5px 0 6.5px 13px;
        border-color: transparent transparent transparent black;
      }

    }
    .reviews__write {
      position: absolute;
      top: 45px;
      right: 65px;

      display: block;
      width: 158px;

      color: #000000;

      background-color: transparent;
    }
  }
  @media (min-width: $desktop-widths) {
    .reviews {
      max-width: 1200px;
      margin: 0 auto;

      background-color: $bg-lightgrey;
    }
    .reviews__write {
      right: 125px;
    }
    .reviews__items {
      width: 750px;
      margin-left: 60px;
      padding-left: 0;
    }
    .reviews__next {
      right: 125px;
    }
    .reviews__title {
      margin-left: 90px;
      text-align: left;
    }
  }
  .reviews__item-show {
    display: block;
  }
  .reviews__item-hidden {
    display: none;
  }
