.logo
  margin-bottom: 22px /*76*/
  padding-left: $lgSidebarPaddingLeft - 4

@media screen and (max-height: $mdHeight )
  .logo
    padding-left: $lgSidebarPaddingLeft - 4
    margin-bottom: 20px

@media screen and (max-width: $desktopWidth)
  .logo
    margin-bottom: 15px

    margin-bottom: 20px

@media screen and (max-width: $mobileWidth)
  .logo
    margin-bottom: 11px
    &__img
      position: relative
      left: -10px
      margin-top: 8px


      width: 140px
      height: auto