/* colors*/
page-header-bg-color = #0083cc
page-header-font-color = #fff
body-bg-color = #c0c0c0
body-box-shadow-color = #202020
documents-link-font-color = #0000AA
main-bg-color = #fff
footer-nav__link-font-color = #4d4d4d
business__link-bg-color = transparent
business__link-font-color = #000
business__caption-item-color = #fbb601
business__caption-link-bg-color = #fbb601
business__caption-link-font-color = #000000

/*media queries width*/
tablet-widths = 499px;
desktop-widths = 1200px;
tablet-widths-only = '(min-width: 627px) and (max-width: 989px)'
desktop-width-only = '(min-width: 989px)'
mobile-width-only = '(max-width: 499px)'



