<div class="login-window">
  <b>Личный кабинет</b>
  <p>Введите пожайлуста свой логин и пароль</p>
  <form action="#" class="login-form" method="post">
    <input type="text" name="username" placeholder="Логин" class="login-form__user">
    <input type="password" name="password" placeholder="Пароль" class="login-form__pass">
    <input type="checkbox" name="remember" id="remember" value="1"> <label for="remember" class="login-form__remember">Запомните меня</label>
    <a href="#" class="login-form__pass-reset">Я забыл пароль</a>
    <a href="" class="btn login-form__btn" title="Войти">Войти</a>
    <button type="button" class="btn login-window--close" title="Закрыть">Закрыть</button>
  </form>
</div>