<div class="login-window">
  <b>Login form</b>
  <p>Please enter your login and password</p>
  <form action="#" class="login-form" method="post">
    <input type="text" name="username" placeholder="Login" class="login-form__user">
    <input type="password" name="password" placeholder="Password" class="login-form__pass">
    <input type="checkbox" name="remember" id="remember" value="1"> <label for="remember" class="login-form__remember">Remember me</label>
    <a href="#" class="login-form__pass-reset">I forgot password</a>
    <button type="submit" class="btn login-form__btn" title="Enter">Enter</button>
    <button type="button" class="btn login-window--close" title="Close">Close</button>
  </form>
</div>