<div class="sign-window">
  <b>Sign form</b>
  <p>Please enter your login, email, phone number and password</p>
  <form action="#" class="sign-form" method="post">
    <input type="text" name="username" placeholder="Login" class="sign-form__user">
    <input type="email" name="email" placeholder="Email" class="sign-form__email">
    <input type="tel" name="phone" placeholder="+7XXXXXXXXXX" class="sign-form__phone">
    <input type="password" name="password" placeholder="Password" class="sign-form__pass">
    <label class="sign-form__label"></label>
    <button type="submit" class="btn sign-form__btn" title="Enter">Enter</button>
    <button type="button" class="btn sign-window--close" title="Close">Close</button>
  </form>
</div>