<section class="about">
    <div class="about__wrapper">
        <h2 class="about__header">А кто оказывает
            консультации?</h2>
        <p class="about__text">&laquo;Тонтрек&raquo;&nbsp;&mdash; компания, специализирующаяся на&nbsp;оказании дистанционной
            (по&nbsp;телефону) круглосуточной юридической помощи гражданам и&nbsp;организациям по&nbsp;любым правовым вопросам.
            При разработке и&nbsp;внедрении услуги менеджмент компании воспользовался многолетним европейским опытом
            оказания дистанционных юридических услуг.</p>
    </div>
</section>