<section class="benfefit">
    <div class="benfefit__wrapper">
        <h2 class="benfefit__header">С картой Тонтрек вы получаете</h2>
        <ul class="benfefit__list">
            <li class="benfefit__item">Круглосуточная правая помощь&nbsp;&mdash; в&nbsp;любой момент на&nbsp;всей территории России;</li>
            <li class="benfefit__item">Дистонционная поддержка: где&nbsp;бы вы&nbsp;не&nbsp;находились, адвокат всегда рядом;</li>
            <li class="benfefit__item">Звонок бесплатный: консультация будет длиться столько времени, сколько нужно;</li>
            <li class="benfefit__item">Личный кабинет владельца карты: возможность прослушать аудиозапись своего разговора с&nbsp;адвокатом, переписка с&nbsp;юристом, более 100 типовых договоров, инструкций и&nbsp;памяток;</li>
            <li class="benfefit__item">Экстренные консультации детям владельцев карт: в&nbsp;любой экстренной ситуации ребенок клиента будет иметь круглосуточную юридическую защиту;</li>
        </ul>
    </div>
</section>