<section class="card">
   <div class="card__wrapper">
       <h2 class="card__header">
        Приобритение карты юридической помощи избавляет от&nbsp;необходимости найма адвоката,
        экономит ваше время и&nbsp;деньги.
        </h2>
        <ul class="card__list">
            <li class="card__item">
                &mdash;&nbsp;Вы&nbsp;просто выбираете ту&nbsp;карту&nbsp;&mdash; и, соответственно,
                тот тариф, пакет услуг в&nbsp;котором актуален для вас.
            </li>
            <li class="card__item">
                &mdash;&nbsp;Все остальное&nbsp;&mdash; забота специалистов Тонтрек.
            </li>
            <li class="card__item">
                &mdash;&nbsp;Мы&nbsp;предлагаем юридическую помощь в&nbsp;удобном для клиента формате,
                доступную всегда и&nbsp;везде.
            </li>
        </ul>
   </div>
</section>