<section class="feedback">
    <div class="feedback__wrapper">
        <h2 class="feedback__header">Будьте в курсе</h2>
        <p class="feedback__text">Понятные объяснения запутанных законов у&nbsp;вас в&nbsp;почте</p>
        <div class="form__wrapper">           
            <form action="" class="form">
                <h3 class="form__header"></h3>
                <input class="form__tel" type="text">
                <span class="form__or">или</span>
                <input class="form__email" type="text">
                <button class="form__btn">Отправить</button>
                <p class="form__text">
                    Никакого спама&nbsp;&mdash; слово юриста.
                    Хотите убедиться перед тем, как подписаться на&nbsp;рассылку?
                    <a class="form__text-link" href="/">Посмо-----------трите</a>, как это выглядит.
                </p>
            </form>
        </div>
        <div class="social">
            <h3 class="social__header">Мы в социальных сетях</h3>
            <ul class="social__list">
                <li class="social__item"><a href="" class="social__link">В контакте</a></li>
                <li class="social__item"><a href="" class="social__link">Фейсбук</a></li>
                <li class="social__item"><a href="" class="social__link">Твиттер</a></li>
                <li class="social__item"><a href="" class="social__link">Youtube</a></li>
            </ul>
        </div>
    </div>
</section>
