    <!-- Slider main container -->
    <section class=" header-slider swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="slide">
                    <h2 class="slide__header">Наследование и семейное право</h2>
                    <b class="slide__quote">&mdash;&nbsp;Сейчас они у меня получат</b>
                    <p class="slide__author">Нина Петровна, 2 часа ночи</p>
                </div>
            </div>
           <!-- <div class="swiper-slide">Slide 2</div>-->
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </section>

