<section class="options">
    <div class="options__wrapper">
        <h2 class="options__header">Вам всегда доступно</h2>
        <ul class="options__list">
            <li class="options__item">Личный кабинет: аудиозаписи всех разговоров с&nbsp;юристом</li>
            <li class="options__item">Экстренные консультации детям владельцев карт</li>
            <li class="options__item">Круглосуточные бесплатные звонки в&nbsp;неограниченных количествах</li>
            <li class="options__item">Ответ на&nbsp;звонок ил&nbsp;любой точки мира</li>
            <li class="options__item">&laquo;Поговорите с&nbsp;моим адвокатом&raquo;</li>
        </ul>
    </div>
</section>