<footer class="page-footer">
<div class="page-footer__wrapper">
  <a href="www.bekades.com" class="page-footer__rules">
    Правила использования информации, размещенной на&nbsp;сайте Компании
    (ООО &laquo;Тонтрек&raquo;)
  </a>
  <div class="page-footer__copyright">
    &copy;  2010-2017
  </div>
  <a href="www.bekades.com" class="page-footer__designed">Сделано в HiSmith</a>
  <a href="www.bekades.com" class="page-footer__smi">Информация для СМИ</a>
</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.min.js"></script>
</body>
</html>