<!-- Slider main container -->
<section class=" reviews-slider swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="reviews-slide">
                <div class="reviews-slide__header">
                    <img src="" alt="" class="reviews-slide__photo">
                    <b class="reviews-slide__author">Игорь Дронин</b>
                </div>

                <p class="reviews-slide__text">
                    Мой клиент попал в&nbsp;ДТП на&nbsp;Садовом кольце, несмотря на&nbsp;очевидность произошедшего,
                    второй участник отказывался признать себя виноватым. Юристы вели дело с&nbsp;самого начала,
                    то&nbsp;есть с&nbsp;составления протокола до&nbsp;самой группы разбора, которых в&nbsp;итоге было две
                    Тем не&nbsp;менее, все закончилось хорошо, наш клиент прав в&nbsp;этой ситуации и&nbsp;получил
                    возмещение ущерба, предусмотренное страховкой.</p>
            </div>
        </div>
        <!-- <div class="swiper-slide">Slide 2</div>-->
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</section>

