<section class="tariffs">
    <div class="tariffs__wrapper">
        <table class="tariffs__table">
            <tr class="tariffs__row">
                <th class="tariffs__col"></th>
                <th class="tariffs__col">Оптимальный</th>
                <th class="tariffs__col">Семейный</th>
                <th class="tariffs__col">VIP</th>
            </tr>
            <tr class="tariffs__row">
                <td class="tariffs__col"></td>
                <td class="tariffs__col"></td>
                <td class="tariffs__col"></td>
                <td class="tariffs__col"></td>
            </tr>
            <tr class="tariffs__row">
                <td class="tariffs__col">Личный кабинет</td>
                <td class="tariffs__col"></td>
                <td class="tariffs__col"></td>
                <td class="tariffs__col"></td>
            </tr>
            <tr class="tariffs__row">
                <td class="tariffs__col">Юридические
                    консльтации 12/7</td>
                <td class="tariffs__col"></td>
                <td class="tariffs__col"></td>
                <td class="tariffs__col"></td>
            </tr>
            <tr class="tariffs__row">
                <td class="tariffs__col">Стоимость годового обслуживания</td>
                <td class="tariffs__col"></td>
                <td class="tariffs__col"></td>
                <td class="tariffs__col"></td>
            </tr>
            <tr class="tariffs__row">
                <td class="tariffs__col"></td>
                <td class="tariffs__col"><button class="tariffs__btn">Купить</button></td>
                <td class="tariffs__col"><button class="tariffs__btn">Купить</button></td>
                <td class="tariffs__col"><button class="tariffs__btn">Купить</button></td>
            </tr>
        </table>
    </div>
</section>