.container {
    background: url("bg.png");
    width:100%;
    padding: 25px 10%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
h1 {
    color: #3170a8;
    text-align: center;
    text-transform: uppercase;
    font-family:Trebuchet MS;
    font-size: 40px;
    margin-left: -10%;
}
h1 span {
    color: #ee8129;

}
.recall {
    margin: 0  25px 25px;
    float:left;
}
.img {
    float: left;
   }
.description {
    width: 365px;
    background: #fff;
    float: right;
    margin-left: 20px ;
    position: relative;
}
.description::before {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-right: 13px solid #fff;
    display: block;
    left: -23px;
    top: 27px;
    width: 0;
    height: 0;
}
.header {
    border-bottom: 1px dashed #000;
    overflow: hidden;
    padding: 10px;
    margin: 0 10px;
    font-style: italic;
    font-weight:bold;
}
span {
    display: inline-block;
    color: #3070a8;
}
span.name {
    float: left;
}
span.profession {
    float: right;
}
.text {
    padding: 0 16px;
}