<div class="main">
  <p class="main__text">
    Наша компания специализируется на создании технологичных сайтов и написанию веб-сервисов по индивидуальным требованиям клиента.
    Мы являемся разработчиками собственной CMS «Пларсон» (платформа разработки сайтов он-лайн) и можем реализовать любое
    нестандартное решение, которое выходит за рамки «стандартных модулей». Мы создаём продающие интернет магазины и
    выполняем по ним все сопутствующие работы: наполнение товарами, синхронизация с внешней базой, оптимизация и
    продвижение в поисковиках.
  </p>
  <p class="main__text">
    <b>Пларсон</b> — возможно, единственная веб-платформа, работающая по принципу конструктора сайта и не имеющая ограничений
    по модульному функционалу.
  </p>
  <p class="main__text"
  >Компания «Пларсон» предоставляет услуги по обслуживанию сайтов на основе собственной веб-платформы Plarson по модели SaaS.
    «Пларсон»  специализируется на интернет-магазинах и сложных сайтах, где решения из коробки не подходят.
    Веб-платформа работает по принципу конструктора сайта, особенность платформы - крошечное ядро - сайты работают на одном универсальном
    модуле. Для разработки сайта требуется  только знание вёрстки и SQL.
  </p>
  <p class="main__text">
    Наша компания специализируется на создании технологичных сайтов и написанию веб-сервисов по индивидуальным требованиям клиента.
    Мы являемся разработчиками собственной CMS «Пларсон» (платформа разработки сайтов он-лайн) и можем реализовать любое
    нестандартное решение, которое выходит за рамки «стандартных модулей». Мы создаём продающие интернет магазины и
    выполняем по ним все сопутствующие работы: наполнение товарами, синхронизация с внешней базой, оптимизация и
    продвижение в поисковиках.
  </p>
  <p class="main__text">
    Пларсон — возможно, единственная веб-платформа, работающая по принципу конструктора сайта и не имеющая ограничений
    по модульному функционалу.
  </p>
  <p class="main__text"
  >Компания «Пларсон» предоставляет услуги по обслуживанию сайтов на основе собственной веб-платформы Plarson по модели SaaS.
    «Пларсон»  специализируется на интернет-магазинах и сложных сайтах, где решения из коробки не подходят.
    Веб-платформа работает по принципу конструктора сайта, особенность платформы - крошечное ядро - сайты работают на одном универсальном
    модуле. Для разработки сайта требуется  только знание вёрстки и SQL.
  </p>
  <p class="main__text">
    Наша компания специализируется на создании технологичных сайтов и написанию веб-сервисов по индивидуальным требованиям клиента.
    Мы являемся разработчиками собственной CMS «Пларсон» (платформа разработки сайтов он-лайн) и можем реализовать любое
    нестандартное решение, которое выходит за рамки «стандартных модулей». Мы создаём продающие интернет магазины и
    выполняем по ним все сопутствующие работы: наполнение товарами, синхронизация с внешней базой, оптимизация и
    продвижение в поисковиках.
  </p>
  <p class="main__text">
    Пларсон — возможно, единственная веб-платформа, работающая по принципу конструктора сайта и не имеющая ограничений
    по модульному функционалу.
  </p>
  <p class="main__text"
  >Компания «Пларсон» предоставляет услуги по обслуживанию сайтов на основе собственной веб-платформы Plarson по модели SaaS.
    «Пларсон»  специализируется на интернет-магазинах и сложных сайтах, где решения из коробки не подходят.
    Веб-платформа работает по принципу конструктора сайта, особенность платформы - крошечное ядро - сайты работают на одном универсальном
    модуле. Для разработки сайта требуется  только знание вёрстки и SQL.
  </p>
  <p class="main__text">
    Наша компания специализируется на создании технологичных сайтов и написанию веб-сервисов по индивидуальным требованиям клиента.
    Мы являемся разработчиками собственной CMS «Пларсон» (платформа разработки сайтов он-лайн) и можем реализовать любое
    нестандартное решение, которое выходит за рамки «стандартных модулей». Мы создаём продающие интернет магазины и
    выполняем по ним все сопутствующие работы: наполнение товарами, синхронизация с внешней базой, оптимизация и
    продвижение в поисковиках.
  </p>
  <p class="main__text">
    Пларсон — возможно, единственная веб-платформа, работающая по принципу конструктора сайта и не имеющая ограничений
    по модульному функционалу.
  </p>
  <p class="main__text"
  >Компания «Пларсон» предоставляет услуги по обслуживанию сайтов на основе собственной веб-платформы Plarson по модели SaaS.
    «Пларсон»  специализируется на интернет-магазинах и сложных сайтах, где решения из коробки не подходят.
    Веб-платформа работает по принципу конструктора сайта, особенность платформы - крошечное ядро - сайты работают на одном универсальном
    модуле. Для разработки сайта требуется  только знание вёрстки и SQL.
  </p>
  <p class="main__text">
    Наша компания специализируется на создании технологичных сайтов и написанию веб-сервисов по индивидуальным требованиям клиента.
    Мы являемся разработчиками собственной CMS «Пларсон» (платформа разработки сайтов он-лайн) и можем реализовать любое
    нестандартное решение, которое выходит за рамки «стандартных модулей». Мы создаём продающие интернет магазины и
    выполняем по ним все сопутствующие работы: наполнение товарами, синхронизация с внешней базой, оптимизация и
    продвижение в поисковиках.
  </p>
  <p class="main__text">
    Пларсон — возможно, единственная веб-платформа, работающая по принципу конструктора сайта и не имеющая ограничений
    по модульному функционалу.
  </p>
  <p class="main__text"
  >Компания «Пларсон» предоставляет услуги по обслуживанию сайтов на основе собственной веб-платформы Plarson по модели SaaS.
    «Пларсон»  специализируется на интернет-магазинах и сложных сайтах, где решения из коробки не подходят.
    Веб-платформа работает по принципу конструктора сайта, особенность платформы - крошечное ядро - сайты работают на одном универсальном
    модуле. Для разработки сайта требуется  только знание вёрстки и SQL.
  </p>

</div>