<ul class="contacts__list">
  <li class="contacts__item">
    <span class="contacts__tel-text">Остались вопросы, звоните:</span>
    <a class="contacts__tel-link" href="tel:+73422404022">+7 (342) <b>240 40 22</b></a>
  </li>
  <li class="contacts__item">
    <ul class="social__list">
      <li class="social__item">
        <a class="social__link" href="http://vk.me/club94429405" target="_blank">
          <img class="social__img" src="images/ic_vk.svg" width="40" height="40" alt="Мы в ВК">
          <img class="social__img social__img--hover" src="images/ic_vk--hov.svg" width="40" height="40" alt="Мы в ВК">
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="http://m.me/1598808877080728" target="_blank">
          <img class="social__img" src="images/ic_facebook.svg" width="40" height="40" alt="Мы в Фейсбуке">
          <img class="social__img social__img--hover" src="images/ic_facebook--hov.svg" width="40" height="40" alt="Мы в Фейсбуке">
        </a>
      </li>
      <!--<li class="social__item">
        <a class="social__link" href="http://viber.com/centralkassa" target="_blank">
          <img class="social__img" src="images/ic_viber.svg" width="40" height="40" alt="Мы в Вибер">
          <img class="social__img social__img&#45;&#45;hover" src="images/ic_viber&#45;&#45;hov.svg" width="40" height="40" alt="Мы в Вибер">
        </a>
      </li>-->
      <li class="social__item">
        <a class="social__link"  href="https://telegram.me/CkassaSaleBot" target="_blank">
          <img class="social__img" src="images/ic_telegram.svg" width="40" height="40" alt="Мы в Телеграм">
          <img class="social__img social__img--hover" src="images/ic_telegram--hov.svg" width="40" height="40" alt="Мы в Телеграм">
        </a>
      </li>
    </ul>

  </li>
</ul>