<section class="instruments">
  <ul class="instruments__list">
    <li class="instruments__item instruments__item--autopays"><span class="instruments__count">01</span>
      <h3 class="instruments__header">Автоплатеж </h3>
      <p class="instruments__text">Возможность для плательщика<br>настроить автоплатеж по&nbsp;календарю<br>или по&nbsp;задолженности.</p>
    </li>
    <li class="instruments__item instruments__item--invoicing"><span class="instruments__count">02</span>
      <h3 class="instruments__header">Инвойсинг</h3>
      <p class="instruments__text">Выставление счетов плательщикам
        на&nbsp;электронную почту или в&nbsp;телефон
        с&nbsp;возможностью моментальной оплаты.</p>
    </li>
    <li class="instruments__item instruments__item--card"><span class="instruments__count">03</span>
      <h3 class="instruments__header">Привязка карты </h3>
      <p class="instruments__text">Сохранение реквизитов карты<br>для быстрой оплаты без повторного ввода ее&nbsp;данных.</p>
    </li>
    <li class="instruments__item instruments__item--check"><span class="instruments__count">04</span>
      <h3 class="instruments__header">Чек</h3>
      <p class="instruments__text">Чек с&nbsp;полным реквизитным составом<br>при любом способе оплаты, кассовый чек</p>
    </li>
    <li class="instruments__item instruments__item--service"><span class="instruments__count">05</span>
      <h3 class="instruments__header">Информационный сервис</h3>
      <p class="instruments__text">Отображение полной информации
        о&nbsp;платеже в&nbsp;личном кабинете плательщика.</p>
    </li>
    <li class="instruments__item instruments__item--guard"><span class="instruments__count">06</span>
      <h3 class="instruments__header">Защита данных<br>банковской карты</h3>
      <p class="instruments__text">Соблюдение стандарта безопасности данных PCI&nbsp;DSS 3.2. Level&nbsp;1</p>
    </li>
  </ul>
</section>