<ul class="links__list">
  <li class="links__item"><a class="links__link" href="https://ckassa.ru/lp/business/">ЦК для бизнеса</a></li>
  <li class="links__item"><a class="links__link" href="https://ckassa.ru/lp/providers/">ЦК для рынка<br>операторов связи</a></li>
  <li class="links__item"><a class="links__link" href="https://ckassa.ru/lp/taxi/">ЦК для рынка такси</a></li>
  <li class="links__item"><a class="links__link" href="https://ckassa.ru/lp/utilities/">ЦК для рынка ЖКХ</a></li>
  <li class="links__item"><a class="links__link" href="https://docs.ckassa.ru/">Документы</a></li>
</ul>