<section class="options">
  <ul class="options__list">
    <li class="options__item options__item--button">
      <span class="options__count">01</span>
      <h3 class="options__header">Оплата на вашем
        сайте</h3>
      <p class="options__text">Платежная кнопка или форма оплаты
        для вашего сайта или социальной сети</p>
    </li>
    <li class="options__item options__item--site">
      <span class="options__count">02</span>
      <h3 class="options__header">Оплата на сайте ckassa.ru</h3>
      <p class="options__text">Страница оплаты вашей компании
        на&nbsp;сайте <a class="options__link" href="https://ckassa.ru" target="_blank">ckassa.ru</a></p>
    </li>
    <li class="options__item options__item--phone">
      <span class="options__count">03</span>
      <h3 class="options__header">Оплата в мобильном приложении Центральная касса</h3>
      <p class="options__text">Страница оплаты вашей компании
        в&nbsp;приложении Центральная касса<br>для <a class="options__link" href="https://itunes.apple.com/ru/app/id950185773" target="_blank">iOS</a> и&nbsp;<a class="options__link" href="https://play.google.com/store/apps/details?id=ru.pay.bisys.centralkass" target="_blank">Android</a></p>
    </li>
    <li class="options__item options__item--integration">
      <span class="options__count">04</span>
      <h3 class="options__header">Интеграция<br>с системами учета </h3>
      <p class="options__text">
        Подключение по&nbsp;типовым протоколам</p>
    </li>
    <li class="options__item options__item--support">
      <span class="options__count">05</span>
      <h3 class="options__header">Служба технической поддержки</h3>
      <p class="options__text">Оперативная поддержка 7&nbsp;дней
        в&nbsp;неделю для поставщиков услуг
        и&nbsp;плательщиков</p>
    </li>
    <li class="options__item options__item--fixal">
      <span class="options__count">06</span>
      <h3 class="options__header">Фискализация всех платежей</h3>
      <p class="options__text">Фискализация в&nbsp;соответствии
        с&nbsp;требованиями Федерального закона &#8470;&nbsp;54&nbsp;(все затраты по&nbsp;исполнению требований ФЗ-54&nbsp;мы берем на&nbsp;себя)</p>
    </li>
  </ul>
</section>