<section class="ps">
<div class="page__wrapper">    <ul class="ps__list">
      <li class="ps__item ps__item--visa"></li>
      <li class="ps__item ps__item--verified-visa"></li>
      <li class="ps__item ps__item--mscard"></li>
      <li class="ps__item ps__item--mscard-sc"></li>
      <li class="ps__item ps__item--mir"></li>
      <li class="ps__item ps__item--mir-accept"></li>
      <li class="ps__item ps__item--pci-dss"></li>
    </ul></div>
<!--  <a class="page__btn page__btn&#45;&#45;pays" href="https://cabinet.ckassa.ru/site/signup">Заключить договор</a>-->
</section>