<section class="pays">
  <ul class="pays__list">
    <li class="pays__item">
      <h2 class="pays__header">Банковские карты:</h2>
      <ul class="pays__sublist">
        <li class="pays__subitem">
          <div>
            <b class="pays__subitem-header">Кредитные карты</b>
            <p class="pays__subitem-text"> Visa / MasterCard / МИР</p>
          </div>
        </li>
        <li class="pays__subitem">
          <div>
            <b class="pays__subitem-header">Дебетовые карты</b>
            <p class="pays__subitem-text"> Visa / MasterCard / МИР</p>
          </div>
        </li>
        <li class="pays__subitem">
          <div>
            <b class="pays__subitem-header">Карты моментальной выдачи:</b>
            <p class="pays__subitem-text"> Electron / Momentum, включая<br>карты Maestro Momentum<br>Сбербанка</p>
          </div>
        </li>
      </ul>
    </li>
    <li class="pays__item">
      <h2 class="pays__header">Электронные кошельки:</h2>
      <ul class="pays__sublist">
        <li class="pays__subitem"><div>Яндекс.Деньги</div></li>
        <li class="pays__subitem"><div>Кошелек Центральная касса</div></li>
        <li class="pays__subitem"><div>QIWI Кошелек</div></li>
      </ul>
    </li>
    <li class="pays__item">
      <h2 class="pays__header">СМС-оплата </h2>
     <!-- <ul class="pays__sublist">
        <li class="pays__subitem"><b></b></li>
        <li class="pays__subitem"><b></b></li>
        <li class="pays__subitem"><b></b></li>
      </ul>-->
    </li>
  </ul>

  <p class="pays__text">Мы обеспечиваем защиту безналичных платежей
    по самому высокому уровню безопасности
    международного стандарта <b>PCI&nbsp;DSS&nbsp;3.2.&nbsp;Level 1</b></p>
</section>

