<h3 class="range__header">Тариф зависит от объема принятых платежей
  через платежные сервисы ЦК. </h3>
<div class="range__count" id="count"></div>

<!--<ul class="range__list">
  <li class="range__item"><span class="range__count"> > 100 000</span><span class="range__count-text">принятых платежей</span></li>
  <li class="range__item range__item&#45;&#45;active"><span class="range__count"> > 500 000</span><span class="range__count-text">принятых платежей</span></li>
  <li class="range__item "><span class="range__count"> > 1 000 000</span><span class="range__count-text">принятых платежей</span></li>
  <li class="range__item"><span class="range__count"> > 5 000 000</span><span class="range__count-text">принятых платежей</span></li>
  <li class="range__item"><span class="range__count"> > 10 000 000</span><span class="range__count-text">принятых платежей</span></li>
</ul>-->

<input type="text" id="range" name="range" value="" />

<div class="dops" id="dops">
  <h3 class="dops__header">Дополнительные опции</h3>
  <input class="dops__check" type="checkbox" id="greenZone">
  <label class="dops__label" for="greenZone" id="labelGreenZone">«Зелёная зона» (снижаем на 0.1%)</label>
</div>