.main-nav {
  display: flex;
  justify-content: space-between;
  position: relative;

  min-height: 51px;
}

.main-nav__toggle {
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 44px;
  height: 50px;

  font-size: 0;

  background: transparent;
  cursor: pointer;

  border: none;

  &:hover {
    background-color: #624530;

    transition: 0.7s;
  }
  &:active {
    background-color: #f37264;

    transition: 0.7s;
  }
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: ' ';
  position: absolute;
  top: 15px;
  left: 3px;

  width: 36px;
  height: 2px;

  background-color: #fff;
  box-shadow: 0 8px 0 0 #fff,
  0 16px 0 0 #fff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow:  0 8px 0 0 rgba(255, 255, 255, 0.3),
  0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  left: auto;
  right: 0;

  &::before,
  &::after {
    content: ' ';
    position: absolute;
    top: 24px;
    left: 3px;

    width: 36px;
    height: 2px;

    background-color: #fff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav__list {
  position: absolute;
  z-index: 2;
  top: 50px;
  right: 0;
  left: 0;

  margin: 0;
  padding: 0;

  list-style: none;
  animation: slideInDown;
  animation-duration: 0.7s;
}

.main-nav__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;

  font-size:  18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #826550;
  border-top: 1px solid #886e5d;
  border-bottom: 1px solid #71543f;
  opacity: 0.9;
}

.main-nav__item a[href] {
  &:hover {
    background-color: #775a46;
    transition: 0.7s;
    border-top-color: #775a46;
  }

  &:active {
    background-color: #f37264;

    transition: 0.7s;
    border-top-color: #6a4d38;
  }
}
.main-nav__login {
  display: block;
  width: 60px;
  padding: 20px 10px;
  margin-top: -20px;

  text-decoration: none;

  &:hover {
    background-color: #624530;

    transition: 0.7s;
  }

  &:active {
    background-color: #f37264;

    transition: 0.7s;
  }
}
.main-nav__sign-up {
  display: block;
  width: 65px;
  padding: 20px 10px;
  margin-top: -20px;

  text-decoration: none;

  &:hover {
    background-color: #624530;

    transition: 0.7s;
  }

  &:active {
    background-color: #f37264;

    transition: 0.7s;
  }
}
.main-nav__user-list {
  display: flex;
  margin-left:auto;
  flex-wrap: wrap;

  flex-direction: row;
}
.main-nav__user-item {
  text-transform: uppercase;
  text-decoration: none;
}

