.page-footer {
  @include container();

  padding-top: 40px;
  padding-bottom: 40px;

  background-color: #f7f7f7;
}

.page-footer__wrapper {
  @include wrapper();
  display: flex;
  justify-content: space-between;
}

.page-footer__copyright {
  font-weight: 300;
  color: #8b8b8b;
}

.page-footer__designed {
  color: black;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  b {
    font-weight: 400;
  }

}
@media (max-width: $tablet-widths) {
  .page-footer__wrapper {
    display: flex;
    flex-direction:column;
    text-align: center;
  }
}