.page-header {
  @include container();

  color: #ffffff;

  background: #7f3c53 none;
  background-size: cover;
}

.page-header__wrapper {
  @include wrapper();
}

.page-header__description-container {
  text-align: center;
}

.page-header__header {
  margin-bottom: 43px;

  font-size: 30px;
  font-family: "Times New Roman", serif;
  font-style: italic;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;

  b {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.page-header__btn-get {
  display: block;
  box-sizing: border-box;
  width: 278px;
  height: 65px;
  margin-bottom: 43px;
  margin-left: auto;
  margin-right:auto;
  padding: 22px 85px;

  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid white;

  &:hover {
    background-color: #624530;

    transition: 0.7s;
  }
  &:active {
    background-color: #f37264;

    transition: 0.7s;
  }
}

.page-header__description{
  display: inline-block;
  margin-bottom: 25px;

  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  span {
    font-weight: 700;
    text-decoration: underline;
  }
}

@media (min-width: $tablet-widths) {
  .page-header {
    min-height: 880px;

    background: #7f3c53 url('../img/page-header__bg.jpg') no-repeat;
  }
  .page-header__header {
    font-size: 36px;

    b {
      font-size: 100px;
    }
  }

  .page-header__description-container {
    margin-top: 350px;
  }

}