.stats {
  @include container();

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-top: 60px;
}

.stats__item {
  width: 320px;
  margin-bottom: 25px;

  text-align: center;

  b {
    font-size: 36px;
    font-weight: 700;
  }
  span {
    font-size: 16px;
    font-weight: 300;
  }

}
