/* Proxima Nova */

@font-face {
  font-family: "proxima nova";
  src: url('../fonts/ProximaNova-Thin.eot');
  src: url('../fonts/ProximaNova-Thin.eot?#iefix') format('eot'),
          url('../fonts/ProximaNova-Thin.woff') format('woff'),
          url('../fonts/ProximaNova-Thin.otf')  format('opentype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "proxima nova";
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('eot'),
          url('../fonts/ProximaNova-Light.woff') format('woff'),
          url('../fonts/ProximaNova-Light.otf')  format('opentype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "proxima nova";
  src: url('../fonts/ProximaNova-Reg.eot');
  src: url('../fonts/ProximaNova-Reg.eot?#iefix') format('eot'),
          url('../fonts/ProximaNova-Reg.woff') format('woff'),
          url('../fonts/ProximaNova-Reg.otf')  format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "proxima nova";
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('eot'),
          url('../fonts/ProximaNova-Semibold.woff') format('woff'),
          url('../fonts/ProximaNova-Semibold.otf')  format('opentype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "proxima nova";
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('eot'),
          url('../fonts/ProximaNova-Bold.woff') format('woff'),
          url('../fonts/ProximaNova-Bold.otf')  format('opentype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "proxima nova";
  src: url('../fonts/ProximaNova-Black.eot');
  src: url('../fonts/ProximaNova-Black.eot?#iefix') format('eot'),
          url('../fonts/ProximaNova-Black.woff') format('woff'),
          url('../fonts/ProximaNova-Black.otf')  format('opentype');
  font-style: normal;
  font-weight: 900;
}

/* Helvetica Neue */

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeueCyr-Thin.eot');
  src: url('../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('eot'),
          url('../fonts/HelveticaNeueCyr-Thin.otf')  format('opentype');
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeueCyr-UltraLight.eot');
  src: url('../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('eot'),
          url('../fonts/HelveticaNeueCyr-UltraLight.otf')  format('opentype');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeueCyr-Light.eot');
  src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('eot'),
          url('../fonts/HelveticaNeueCyr-Light.otf')  format('opentype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('eot'),
          url('../fonts/HelveticaNeueCyr-Roman.otf')  format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeueCyr-Medium.eot');
  src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('eot'),
          url('../fonts/HelveticaNeueCyr-Medium.otf')  format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeueCyr-Bold.eot');
  src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('eot'),
  //url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
          url('../fonts/HelveticaNeueCyr-Bold.otf')  format('opentype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeueCyr-Black.eot');
  src: url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('eot'),
  //url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
          url('../fonts/HelveticaNeueCyr-Black.otf')  format('opentype');
  font-style: normal;
  font-weight: 900;
}

*
  outline 1px solid red

.wrapper
  margin-left: 200px
  display: flex
  flex-direction column
  height: 100vh

