<ul class="contacts__list">
  <li class="contacts__item"><img class="contacts__logo" src="img/logo-footer.png" width="270" height="70" alt="Центральная касса - все платежи вовремя"></li>
  <li class="contacts__item"><!--<button class="contacts__btn" type="button" onclick="location.href='mail.to:support@ckassa.ru'">Задать вопрос</button>-->
    <a class="contacts__btn" href='mailto:support@ckassa.ru&subject=Обращение в техподдержку&body=Зравствуйте, Центральная касса!'>Задать вопрос</a></li>
  <li class="contacts__item">
    <span class="contacts__tel-text">Телефон для связи</span>
    <a class="contacts__tel-link" href="tel:+73422403856">+7 (342) <b>240 38 56</b></a>
  </li>
  <li class="contacts__item">
    <ul class="social__list">
      <li class="social__item">
        <a class="social__link" href="http://vk.me/club94429405" target="_blank">
          <img class="social__img" src="img/icon-vk.png" width="66" height="64" alt="Мы в ВК">
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="http://m.me/1598808877080728" target="_blank">
          <img class="social__img" src="img/icon-fb.png" width="66" height="64" alt="Мы в Фейсбуке">
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="http://viber.com/centralkassa" target="_blank">
          <img class="social__img" src="img/icon-viber.png" width="66" height="64" alt="Мы в Вибер">
        </a>
      </li>
      <li class="social__item">
        <a class="social__link"  href="https://telegram.me/CkassaSaleBot" target="_blank">
          <img class="social__img" src="img/icon-telegram.png" width="66" height="64" alt="Мы в Телеграм">
        </a>
      </li>
    </ul>

  </li>
</ul>