<ul class="footer-menu__list">
  <li class="footer-menu__item">
    <ul class="footer-submenu__list">
      <li class="footer-submenu__item">Клиентам ЦК</li>
      <li class="footer-submenu__item"><a class="footer-submenu__link" href="https://ckassa.ru/offer-ckk.html">Оферта</a></li>
      <li class="footer-submenu__item"><a class="footer-submenu__link" href="https://ckassa.ru/payment/#!offer_wallet">Кошелёк ЦК</a></li>
      <li class="footer-submenu__item"><a class="footer-submenu__link" href="https://ckassa.ru/payment/#!contact">Контакты</a></li>
      <li class="footer-submenu__item"><a class="footer-submenu__link" href="https://docs.ckassa.ru/documents/documents.html#business">Документы</a></li>
      <li class="footer-submenu__item"><a class="footer-submenu__link" href="https://ckassa.ru/vacancy/sales/">Карьера в ЦК</a></li>
    </ul>
  </li>
  <li class="footer-menu__item">
    <ul class="footer-submenu__list">
      <li class="footer-submenu__item">ЦК для бизнеса</li>
      <li class="footer-submenu__item"><a class="footer-submenu__link" href="https://ckassa.ru/lp/taxi/">ЦК для рынка такси</a></li>
      <li class="footer-submenu__item"><a class="footer-submenu__link" href="https://ckassa.ru/lp/providers/">ЦК для рынка операторов связи</a></li>
      <li class="footer-submenu__item"><a class="footer-submenu__link" href="https://ckassa.ru/lp/utilities/">ЦК для рынка ЖКХ</a></li>
      <li class="footer-submenu__item"><a class="footer-submenu__link" href="https://ckassa.ru/lp/business/">ЦК для других рынков</a></li>
      <li class="footer-submenu__item"><a class="footer-submenu__link" href="https://docs.ckassa.ru/">Документы</a></li>
    </ul>
  </li>
</ul>