<section class="footer-apps">
  <img class="footer-apps__img" src="img/download-app.png" width="262" height="241" alt="Скачайте наше приложение">
  <h2 class="footer-apps__header">Скачайте наше приложение</h2>
  <ul class="footer-apps__list">
    <li class="footer-apps__item">
      <a class="footer-apps__link" href="https://play.google.com/store/apps/details?id=ru.pay.bisys.centralkass" target="_blank">
        <img class="footer-apps__shop-img" src="img/icon-google.png" alt="Приложение Центральная Касса для Android" width="226" height="48">
      </a>
    </li>
    <li class="footer-apps__item">
      <a class="footer-apps__link" href="https://itunes.apple.com/ru/app/id950185773" target="_blank">
        <img class="footer-apps__shop-img" src="img/icon-apple.png" alt="Приложение Центральная Касса для iOS" width="227" height="48">
      </a>
    </li>
  </ul>

</section>