<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>@@page-title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.6, user-scalable=no">
    <link href="css/style.min.css" rel="stylesheet" type="text/css">


    <link rel="icon" type="img/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="img/png" href="img/favicon/favicon-16x16.png" sizes="16x16">

  <!--  <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@ckassa">
    <meta name="twitter:site" content="Центральная касса">
    <meta name="twitter:domain" content="ckassa.ru">
    <meta name="twitter:title" content="Центральная касса - Готовые решения для большинства рынков">
    <meta name="twitter:description" content="Центральная касса предоставляет полный комплекс услуг по приему, защите и обработке платежей.">
    <meta name="twitter:image:src" content="http://ckassa.ru/lp/ckassa_business/img/bg_business.jpg">
    <meta name="twitter:url" content="http://ckassa.ru/lp/ckassa_business/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Центральная касса - Готовые решения для большинства рынков">
    <meta property="og:description" content="Центральная касса предоставляет полный комплекс услуг по приему, защите и обработке платежей">
    <meta property="og:url" content="http://ckassa.ru/lp/ckassa_business/">
    <meta property="og:site_name" content="Центральная касса">
    <meta property="og:see_also" content="http://ckassa.ru/lp/ckassa_business/">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="http://ckassa.ru/lp/ckassa_business/img/bg_business.jpg">
    <meta property="og:image:width" content="360">
    <meta property="og:image:height" content="400">-->
    @@jquery

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    @@html5shiv
    @@respondjs
    <![endif]-->
</head>
<body>
<h1 class="page-header__h1 visually-hidden">Центральная касса - все платежи вовремя</h1>
<header class="page-header">
    <div class="page-header__wrapper">
        <div class="page-header__logo-wrap"><img class="page-header__logo" src="img/logo.png" height="46" width="53" alt="Центральная касса - все платежи вовремя"></div>
        <h2 class="page-header__header">Перевод с&nbsp;карты на&nbsp;Кошелёк&nbsp;ЦК</h2>
        <p class="page-header__text">Мгновенное пополнение Кошелька&nbsp;ЦК <br>
            с&nbsp;любых карт любых банков</p>
    </div>
    <!-- /.page-header__wrapper -->
</header>
<!-- /.page-header -->
