<footer class="page-footer">
  <div class="page-footer__wrapper">
    @@include('blocks/footer-contacts.html')
    @@include('blocks/footer-menu.html')
    @@include('blocks/footer-apps.html')
    <ul class="page-footer__list">
      <li class="page-footer__item">«Центральная касса» 2017</li>
      <li class="page-footer__item">Сервис предоставлен ООО «Биллинговые системы»</li>
      <li class="page-footer__item"><!--<a class="page-footer__link">Политика конфиденциальности</a>--></li>
    </ul>
  </div>
</footer>
@@cvc-window
@@error-window
@@myscript
</body>
</html>