<section class="ps">
  <h2 class="visually-hidden">Платежные системы</h2>
  <div class="ps__wrapper">
    <ul class="ps__list">
      <li class="ps__item ps__item--visa"></li>
      <li class="ps__item ps__item--verified-visa"></li>
      <li class="ps__item ps__item--mscard"></li>
      <li class="ps__item ps__item--mscard-sc"></li>
      <li class="ps__item ps__item--mir"></li>
      <li class="ps__item ps__item--mir-accept"></li>
      <li class="ps__item ps__item--pci-dss"></li>
    </ul>
  </div>
</section>