<div class="success">
<div class="success__wrapper"> <!-- <img class="success__img" src="img/success.png" alt="Ошибка опер">-->
  <div class="animation-wrapper">
    <div class="sm-circle"></div>
    <div class="xs-circle"></div>
    <div class="lg-circle"></div>
    <div class="dimon"></div>
    <div class="money money--1"></div>
    <div class="money money--2"></div>
    <div class="money money--3"></div>
    <div class="money money--4"></div>
    <div class="money money--5"></div>
    <div class="money money--6"></div>
    <div class="money money--7"></div>
    <div class="money money--8"></div>
    <div class="money money--9"></div>
    <div class="money money--10"></div>
    <div class="money money--11"></div>
    <div class="money money--12"></div>



  </div>

  <p class="success__text">
    Ваш платеж на сумму<br>
    <span class="success__cost">1550. <sub>20 </sub>&#8381;</span>
  </p>
  <h2 class="success__header">Исполнен</h2>
  <button class="success__btn" onclick='document.location.href = "https://ckassa.ru/lp/test/card2card/index.html";'>Вернуться</button></div>
</div>