.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-ic_facebook {
	font-size:(40/10)*1rem;
width:(41/40)*1em;
}
.icon-ic_facebook--hov {
	font-size:(40/10)*1rem;
width:(41/40)*1em;
}
.icon-ic_telegram {
	font-size:(40/10)*1rem;
width:(41/40)*1em;
}
.icon-ic_telegram--hov {
	font-size:(40/10)*1rem;
width:(41/40)*1em;
}
.icon-ic_viber {
	font-size:(40/10)*1rem;
width:(41/40)*1em;
}
.icon-ic_viber--hov {
	font-size:(40/10)*1rem;
width:(41/40)*1em;
}
.icon-ic_vk {
	font-size:(40/10)*1rem;
width:(40/40)*1em;
}
.icon-ic_vk--hov {
	font-size:(40/10)*1rem;
width:(40/40)*1em;
}
