@import "normalize.styl"
@import "vars.styl"
@import "scaffolding.styl"
//@import "swiper.min.styl"
@import "blocks/sidebar.styl"
@import "blocks/logo.styl"
@import "blocks/nav.styl"
@import "blocks/contacts.styl"
@import "blocks/links.styl"
@import "blocks/copy.styl"
@import "blocks/page.styl"
@import "blocks/calc.styl"
@import "ion.rangeSlider.styl"
@import "ion.rangeSlider.skinFlat.styl"
@import "blocks/range.styl"
@import "blocks/result.styl"
@import "blocks/options.styl"
@import "blocks/instruments.styl"
@import "blocks/pays.styl"
@import "blocks/payment_systems.styl"