/* colors */

$lgWidth = 1300px
$lgHeight = 1050px
$mdHeight = 768px

$mobileWidth = 479px
$tabletWidth = 747px
$desktopWidth  = 1367px
$desktopWidth17 = 1020px
$lgSidebarPaddingLeft = 34px
$lgSidebarWidth = 300px

/*расчет 2 vh = 19px*/



clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both
