/*global styles start*/
body {
    background: #849d8f;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
img {
    max-width:100%;
    height: auto;
}
ul {
    list-style-type: none;
}
h2 {
    display: inline;
}
.site-wrapper {
    width: 1200px;
    margin: 0 auto;
}
.btn {
    color: #ffffff;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}
a.btn:hover, button.btn:hover, .index-main-banner a.btn:hover {
    background: #f07963;
    color: #ffffff;
}
a {
    font-size: 16px;
    line-height: 18px;
    color: white;
    text-decoration: underline;
}
a:hover {
    color: #ffbc9e;
}
a:active {
    color: #bdab96;
}
/*header start*/
.site-header  {
    width:100%;
    position: relative;
}
a.site-logo {
    float:left;
    width:154px;
    margin:10px 30px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    color: #ffffff;
}
/*main menu start*/
.main-menu  {
    margin-top:30px;
    float:left;
    min-width:700px;
    padding-left:0;
}
.main-menu li {
    display: inline-block;
    position: relative;
}
.main-menu li>a {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom:7px;
    padding-top:7px;
}
.main-menu>li:hover>a {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom:7px;
    padding-top:7px;
    background: #f8f7f4;
    border-radius: 25px;
    color: #000;
}
.main-menu>li.active:hover>a {
    background: #f8f7f4;
}
.main-menu>li>a:active {
    background: #ededed;
    box-shadow: inset 0 2px 1px #696969;
}
.main-menu>li.active>a {
    background: #d07058;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom:7px;
    padding-top:7px;
    border-radius: 25px;
    color: #000;
}
.main-menu li:hover ul.sub-main-menu {
    display: block;
}
.main-menu li a {
    font-weight:bold;
    color: #ffffff;
}
.sub-main-menu {
    position: absolute;
    top: 26px;
    left: 0;
    z-index: 100;
    display: none;
    min-width: 145px;
    padding: 0;
    color: #323232;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.6);
}
.sub-main-menu li {
    margin: 0;
    margin-top: 2px;
    margin-bottom: 3px;
    padding: 0;
    min-width: 145px;
}
.sub-main-menu li:hover {
    background: #fbded7;
}
.sub-main-menu li:active {
    background: #f6b5a5;
}
.sub-main-menu li.active {
    background: #d07058;
}
.sub-main-menu li a, ul.sub-main-menu li span {
    display: block;
    font-size: 14px;
    font-weight:400;
    padding-left:12px;
    padding-top:8px;
    padding-bottom:8px;
    background: transparent;
    color: #000;
}
.sub-main-menu>li>span {
    border-bottom: 1px solid #d1d0ce;
    font-weight: 700;
    min-width: 113px;
    padding-right: 0;
    margin-left: 8px;
}
    /*main menu end*/
.user-block a, .user-block button {
    float: right;
    position: relative;
    margin: 24px 8px 15px 0;
    font-size: 14px;
    font-weight:500;
    padding:9px 0 9px 45px;
    background: #9db1a5;
    width:45px;
}
.user-block a:hover, .user-block button:hover {
    background: #f8f7f4;
    color: #000;
}
.user-block a:before {
    content: ' ';
    width:25px;
    height:24px;
    position: absolute;
    top: 8px;
    left:10px;
}
.user-block a.btn-user:before {
    background: transparent url("../img/icon-enter.png") no-repeat;
}
.user-block a.btn-user:hover:before {
    background: transparent url("../img/icon-enter-black.png") no-repeat;
}
.user-block a.btn-cart:before {
    background: transparent url("../img/icon-cart.png") no-repeat;
}
.user-block a.btn-cart:hover:before {
    background: transparent url("../img/icon-cart-black.png") no-repeat;
}
.user-block a.btn-cart-full:before {
    background: transparent url("../img/icon-cart-full.png") no-repeat;
}
.user-block a.btn-cart-full:hover:before {
    background: transparent url("../img/icon-cart-full.png") no-repeat;
}
.user-block a.btn-cart {
    width:75px;
}
.user-block button {
    padding-left:0;
    background: #9db1a5 url("../img/icon-search.png") no-repeat 50% 50%;
    width:35px;
    height:35px;
    border-radius: 50%;
    border-color: transparent;
}
.shedule {
    position: absolute;
    bottom: -55px;
    right: 0;
    text-align: right;
}
.shedule p {
    margin: 0;
    margin-bottom:10px;
    font-size: 14px;
    font-weight:700;
}
.shedule span {
    margin: 0;
    font-size: 22px;
    font-weight:900;
}
/*header end*/
/*product index and product for catalog start*/
.index-goods {
    padding-top:41px;
}
.goods {
    display: inline-block;
    vertical-align: top;
    width:267px;
    margin-left:26px;
    margin-bottom:38px;
    text-align: center;
}
.goods-hover {
    position: relative;
}
.goods-hover:hover {
    background: rgba(167, 184, 173, 0.4);
    position: absolute;
    z-index: 100;
    width:267px;
    min-height:380px;
    padding-left:0;
    margin-left:0;
    border-radius: 10px;
    line-height:0;
    font-size: 0;
}

.goods .goods-hover > a.btn {
    display: none;
    position: absolute;
    z-index: 100;
    top: 320px;
    left: 27px;
    font-size: 18px;
    font-weight:700;
    background: #ed5a3d;
    border-radius:35px;
    padding:10px 23px;
}
.goods-hover:hover a.btn {
    display: block;
}
.goods .goods-hover img {
    border-radius: 50%;
}
.goods-hover:hover >img {
    padding-left:0;
    margin-left:0;
}
.goods p {
    position: absolute;
    top: 190px;
    font-weight:700;
}
.goods-hover:hover >p {
    position: absolute;
    top: 206px;
    padding-right:35px;
}
.goods p>span {
    font-size: 45px;
    line-height: 13.13px;
    font-weight:700;
}
.goods p img {
    position: relative;
    top: 3px;
}
.goods .product-name {
    font-weight:500;
    line-height:22px;
    color:#ffffff;
}
/*product index and product for catalog end*/
/*footer page start*/
.site-footer {
    color: #ffffff;
}
.site-footer section {
    display: inline-block;
    vertical-align: top;
}
.footer-social {
    margin-left:27px;
    margin-right:150px;
    padding-top:35px;
}
.social-btn {
    margin-right:10px;
}
.footer-menu {
    width:400px;
    padding-top:15px;
    margin-right:140px;
}
.footer-menu ul {
    padding-left:0;
}
.footer-menu ul li {
    display: inline-block;
    position: relative;
    padding-left:25px;
    min-width:137px;
}
.footer-menu ul li a:hover{
    font-weight:500;
}
.footer-menu ul li:hover:before{
    font-weight:500;
    opacity: 1;
}
.footer-menu ul li:before {
    content: " ";
    position: absolute;
    top:3px;
    left: 5px;
    width:15px;
    height:14px;
    background:  url("../img/icon-heart.svg") no-repeat;
    opacity: 0;
}
.footer-menu a {
    color: #ffffff;
}
.footer-copyright {
    padding-top:31px;
}
.footer-copyright p {
    line-height:0;
}
.footer-copyright a {
    color: #ffffff;
}
/*footer page end*/
/*global styles end*/

/*index-page styles start*/
/* slider index page */
.index-main-banner {
    position: relative;
    text-align: center;
}
.index-main-banner .slide {
    padding-top:305px;
    background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(132,157,143,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#849d8f',GradientType=1 ); /* ie6-9 */
}
.index-main-banner .slide p {
    font-size: 60px;
    font-weight:900;
    display: inline;
   }
.index-main-banner .slide a {
    font-size: 31px;
    line-height:63px;
    font-weight:700;
    background: #ed5a3d;
    border-radius:35px;
    width:280px;
    margin:30px auto 45px;
}
.slide {}
#slide-1 {
     background:
            url("../img/bg-icecream.png.png") no-repeat center top,
            /*-webkit-radial-gradient(circle farthest-corner at center center, rgb(204, 243, 222) 0%, rgb(132, 157, 143) 40%),
            -o-radial-gradient(circle farthest-corner at center center, rgb(204, 243, 222) 0%, rgb(132, 157, 143) 40%),
            -moz-radial-gradient(circle farthest-corner at center center, rgb(204, 243, 222) 0%, rgb(132, 157, 143) 40%),*/
            radial-gradient(circle farthest-corner at center center, rgb(204, 243, 222) 0%, rgb(132, 157, 143) 40%);
}
#slide-2, #slide-3 {
    display: none;
}
.slide-btns {
    position: absolute;
    bottom:70px;
    left:5px;
    width:100px;
}
.slide-btns input {
    display: none;
}
#slide-1 + .slide-btns input[type="radio"]:checked {
    transform: translateX(-45px);
}
.slide-btns input[type="radio"]+label:before {
    content: " ";
    position: absolute;
    left: 0;
    width:22px;
    height:22px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.slide-btns input[type="radio"]+label:nth-of-type(2):before {
    left: 29px;
}
.slide-btns input[type="radio"]+label:nth-of-type(3):before {
    left: 58px;
}
.slide-btns input[type="radio"]:checked+label:before {
    background: #ffffff;
}
.slide-btns input[type="radio"]+label:hover:before {
    background: #b2c1b7;
}

/*slider end*/

.banner {
    display: inline-block;
    vertical-align: top;
    width:514px;
    margin-left:26px;
    border-radius: 15px;
    padding: 23px;
    line-height: 21px;
}
.banner:nth-child(1) {
    background: #960109 url("../img/bg-raspberries.jpg") no-repeat;
}
.banner:nth-child(2) {
    background: #6a4438 url("../img/bg-chocolate.jpg") no-repeat;
}
.banner h2 {
    font-size: 35px;
    font-weight:700;
}
.banner p {
    font-size: 18px;
    font-weight:700;
}
.banner a {
    font-size: 18px;
    font-weight:700;
    background: #ed5a3d;
    float: right;
    border-radius:35px;
    padding:15px 23px;
}
.present-product {
    background: url("../img/bg-wafer-min.jpg") repeat;
    color: #323232;
    margin-left:27px;
    margin-right:27px;
    margin-bottom:40px;
    padding:30px 0 0 21px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    overflow: hidden;
}
.present-product ul {
    padding-left:0;
}
.present-product ul li {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width:480px;
    padding-left:56px;
    margin-bottom:30px;
    margin-right:26px;
}
.present-product ul li:nth-of-type(2n) {
    margin-right:0;
}
.present-product ul li:before {
    content:" ";
    width:50px;
    height:50px;
    position: absolute;
    top:-10px;
    left: 0;
}
.present-product ul li:nth-of-type(1):before {
    background: transparent url("../img/icon-icecream.svg") no-repeat;
}
.present-product ul li:nth-of-type(2):before {
    background: transparent url("../img/icon-cow.svg") no-repeat;
}
.present-product ul li:nth-of-type(3):before {
    background: transparent url("../img/icon-leaflet.svg") no-repeat;
}
.present-product ul li:nth-of-type(4):before {
    background: transparent url("../img/icon-thermometer.svg") no-repeat;
}
.news-blog, .delivery {
    display: inline-block;
    vertical-align: top;
    width:520px;
    margin-left:26px;
    margin-bottom:40px;
    border-radius: 15px;
    padding: 23px;
    line-height: 21px;
}
.news-blog, .delivery-bg {
    background: #fff;
    color: #000000;
}
.delivery {
    background-image:  url("../img/bg-delivery-border.png");
    padding: 5px;
    width: 538px;
}
.delivery-bg {
    width: 500px;
    border-radius: 15px;
    padding: 17px;
}
.delivery input {
    width:305px;
    height:40px;
    border: 2px solid #d3d3d2;
    padding: 0 12px;
}
.delivery .btn {
    font-size: 18px;
    font-weight:700;
    background: #ed5a3d;
    float: right;
    border-radius:35px;
    padding:10px 23px;
}
.news-blog {
    background-image: url("../img/bg-news-blog.jpg");
    min-height: 140px;
}
.news-blog h3 {
    font-weight:400;
    font-size: 16px ;
}
.news-blog a {
    font-weight:700;
    font-size: 24px;
    color: #000000;
}
.index-map {
    position: relative;
}
.index-map-information {
    width:251px;
    background: #fff;
    position: absolute;
    top: 70px;
    right:27px;
    padding:30px 27px;
}
.index-map-information p {
    color: #000;
}
.index-map-information .btn {
    font-size: 18px;
    font-weight:700;
    background: #ed5a3d;
    float: right;
    border-radius:35px;
    padding:10px 23px;
}
.feedback-hide {
    display: none;
}
/*index-page styles end*/

/*inner-page styles start*/
/*breadcrumbs start*/
.breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-right:20px;
}
.breadcrumbs li:after {
    content: '>>';
    position: absolute;
    top:3px;
    right:2px;
    font-size: 12px;
}
.breadcrumbs li:last-child:after {
    content: ' ';
}
.breadcrumbs li a {
    font-weight:400;
    color: #FFFFFF;
}
.breadcrumbs li:last-child a {
    text-decoration: none;
}

/*breadcrumbs end*/
/*catalog filter start*/
.catalog-filter .section-form {
    display: inline-block;
    vertical-align: top;
    margin-right:13px;
    margin-bottom:15px;
}
.catalog-filter fieldset {
    border-width: 0;
}
.catalog-filter legend {
    font-weight:500;
    margin-left:16px;
    margin-bottom:9px;
}
.catalog-filter select {
    width:190px;
    background: #a9bab0;
    color: rgba(255, 255, 255, 1);
    font-weight:500;
    line-height:0;
    border-radius: 25px;
    padding:10px 15px 10px 15px;
}
.catalog-filter .range-bg {
    width:220px;
    height:40px;
    background: #a9bab0;
    border-radius: 25px;
}
.catalog-filter .range-scale {
    width: 195px;
    height:5px;
    margin:0 auto;
    position: relative;
    top: 16px;
    background: #f8f7f4;
}
.catalog-filter .range-ranner-left, .catalog-filter .range-ranner-right {
    position: absolute;
    width:21px;
    height:21px;
    background: #fff;
    border-radius: 50%;
    top: -7px;
    box-shadow: #909090 0 1px 5px;
}
.catalog-filter .range-ranner-left {
    left: 20px;
}
.catalog-filter .range-ranner-right {
    left: 120px;
}
.catalog-filter .radio-bg {
    min-width:411px;
    min-height:40px;
    background: #a9bab0;
    border-radius: 25px;
    position: relative;
}
.catalog-filter .checkbox-bg {
    min-width:695px;
    min-height:40px;
    background: #a9bab0;
    border-radius: 25px;
}
.catalog-filter input[type="radio"], .catalog-filter input[type="checkbox"] {
    display: none;
}
.catalog-filter input[type="radio"] + label {
    position: relative;
    display: inline-block;
    padding-left: 40px;
    margin-top:12px;
}
.catalog-filter input[type="radio"] + label:before {
    content: " ";
    position: absolute;
    top:-4px;
    left: 10px;
    width:21px;
    height:21px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.catalog-filter  input[type="radio"]:checked + label:before {
    content: " ";
    position: absolute;
    top:-4px;
    left: 10px;
    width:21px;
    height:21px;
    background:-webkit-radial-gradient(circle farthest-corner at center center, rgb(255, 255, 255) 0%, transparent 60%);
    background:-o-radial-gradient(circle farthest-corner at center center, rgb(255, 255, 255) 0%, transparent 60%);
    background:-moz-radial-gradient(circle farthest-corner at center center, rgb(255, 255, 255) 0%, transparent 60%);
    background:radial-gradient(circle farthest-corner at center center, rgb(255, 255, 255) 0%, transparent 60%);
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.catalog-filter input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding-left: 40px;
    margin-top:12px;
}
.catalog-filter input[type="checkbox"] + label:before {
    content: " ";
    position: absolute;
    top:-1px;
    left: 10px;
    width:17px;
    height:17px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
.catalog-filter .section-form input[type="checkbox"]:checked + label:before {
    content: " ";
    position: absolute;
    top:-1px;
    left: 10px;
    width: 20px;
    height:20px;
    background: url("../img/icon-checkbox-enabled.svg") no-repeat;
    border: 0 solid #ffffff;
}
.catalog-filter button {
    margin-top:27px;
    width:145px;
    border: 1px solid #ffffff;
    background: #a6b7ae;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 25px;
}
/*catalog filter end*/
/*paginator start*/
.paginator {
    margin-right:27px;
}
.paginator button.btn {
    float: right;
    background: transparent;
    color: #FFFFFF;
    border-width: 0;
    margin-right:15px;
    width: 27px;
    height:27px;
    position: relative;
}
.paginator button.current {
    background: #FFFFFF;
    color: #000000;
    border-radius: 50%;
}
.paginator button.btn:first-child:after {
    content: '>';
    position: absolute;
    font-size: 27px;
    top:-2px;
    right:-25px;
}
.paginator button.btn:last-child:before {
    content: '<';
    position: absolute;
    font-size: 27px;
    top:-2px;
    right: 40px;
    color: #FFFFFF;
    opacity: 0.3;
}
.paginator button.btn:hover {
    background: #b2c1b7;
    border-radius: 50%;
}
/*paginator end*/
/*inner-page styles end*/