<nav class="main-nav main-nav--closed">
 <div class="main-nav__wrapper">
   <img src="img/logotype-white-mobile.svg" width="75" height="22" alt="Приложение Pink">
    <button class="main-nav__toggle">Открыть меню</button>
    <ul class="main-nav__list">
      <li class="main-nav__item"><a href="index.html">Главная</a></li>
      <li class="main-nav__item"><a href="photo.html">Фотографии</a></li>
      <li class="main-nav__item"><a href="form.html">Конкурс</a></li>
      <li class="main-nav__item"><a >Htmnl Academy</a></li>
    </ul>
 </div>
</nav>