<section class="opportunity">
  <div class="opportunity__wrapper">
    <ul class="opportunity__list">
      <li class="opportunity__item"><b>Поднимает настроение</b>
        <p>Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!</p>
      </li>
      <li class="opportunity__item"><b>Меняет мир вокруг</b>
        <p>Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект</p>
      </li>
      <li class="opportunity__item"><b>Заводит новых друзей</b>
        <p>Ставьте лайки, комментируте, делитесь фотографиями с друзьями и заводите новых</p>
      </li>
    </ul>
    <img class="opportunity__img" src="img/phone-red-smile.png" alt="Приложение Пинк" width="157" height="320" >
  </div>
</section>