<section class="rates">
  <div class="rates__wrapper">
    <input type="radio" class="rates__input" name="rates" id="rates-input-1" checked>
    <input type="radio" class="rates__input" name="rates" id="rates-input-2">
    <input type="radio" class="rates__input" name="rates" id="rates-input-3">
    <table class="rates__items">
      <tr>
        <th></th>
        <th>
          <b>База</b>
          1,99 USD
        </th>
        <th>
          <b>Стандарт</b>
          3,99 USD
        </th>
        <th>
          <b>Анлим</b>
          9,99 USD
        </th>
      </tr>
      <tr>
        <td>Розовый фильтр</td>
        <td>Да</td>
        <td>Да</td>
        <td>Да</td>
      </tr>
      <tr>
        <td>Смайлики</td>
        <td>Нет</td>
        <td>Да</td>
        <td>Да</td>
      </tr>
      <tr>
        <td>Комментарии</td>
        <td>Нет</td>
        <td>Нет</td>
        <td>Да</td>
      </tr>
    </table>
    <div class="rates__toggles slider__toggles">
      <label class="slider__toggle" for="rates-input-1"></label>
      <label class="slider__toggle" for="rates-input-2"></label>
      <label class="slider__toggle" for="rates-input-3"></label>
    </div>
  </div>
</section>