<section class="rates">
  <div class="rates__wrapper">
    <input type="radio" class="rates__input" name="rates" id="rates-input-1" checked>
    <input type="radio" class="rates__input" name="rates" id="rates-input-2">
    <input type="radio" class="rates__input" name="rates" id="rates-input-3">
    <table class="rates__items">
      <tr class="rates__items-row">
        <th class="rates__items-col rates__items-col--th"></th>
        <th class="rates__items-col rates__items-col--base">
          <b>База</b>
          1,99 USD
        </th>
        <th class="rates__items-col rates__items-col--standart">
          <b>Стандарт</b>
          3,99 USD
        </th>
        <th class="rates__items-col rates__items-col--unlim">
          <b>Анлим</b>
          9,99 USD
        </th>
      </tr>
      <tr class="rates__items-row">
        <td class="rates__items-col rates__items-col--option">Розовый фильтр</td>
        <td class="rates__items-col rates__items-col--yes">Да</td>
        <td class="rates__items-col rates__items-col--yes">Да</td>
        <td class="rates__items-col rates__items-col--yes">Да</td>
      </tr>
      <tr class="rates__items-row">
        <td class="rates__items-col rates__items-col--option">Смайлики</td>
        <td class="rates__items-col rates__items-col--no">Нет</td>
        <td class="rates__items-col rates__items-col--yes">Да</td>
        <td class="rates__items-col rates__items-col--yes">Да</td>
      </tr>
      <tr class="rates__items-row">
        <td class="rates__items-col rates__items-col--option">Комментарии</td>
        <td class="rates__items-col rates__items-col--no">Нет</td>
        <td class="rates__items-col rates__items-col--no">Нет</td>
        <td class="rates__items-col rates__items-col--yes">Да</td>
      </tr>
    </table>
    <div class="rates__toggles slider__toggles">
      <label class="slider__toggle" for="rates-input-1"></label>
      <label class="slider__toggle" for="rates-input-2"></label>
      <label class="slider__toggle" for="rates-input-3"></label>
    </div>
  </div>
</section>