<section class="reviews">
  <div class="reviews__wrapper slider">
    <h2 class="visually-hidden">Отзывы о нас</h2>
    <input type="radio" class="reviews__input" name="reviews" id="reviews-input-1" checked>
    <input type="radio" class="reviews__input" name="reviews" id="reviews-input-2">
    <input type="radio" class="reviews__input" name="reviews" id="reviews-input-3">
    <div class="reviews__items">
      <blockquote class="reviews__item  slider__item-1">
        <p>Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!</p>
        <cite class="reviews__author-name">Николай Петров - 1<br><span> 25 лет, водитель трамвая</span> </cite>
      </blockquote>
      <blockquote class="reviews__item  slider__item-2">
        <p>Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!</p>
        <cite class="reviews__author-name">Николай Петров - 2<br><span> 25 лет, водитель трамвая</span> </cite>
      </blockquote>
      <blockquote class="reviews__item  slider__item-3">
        <p>Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!</p>
        <cite class="reviews__author-name">Николай Петров - 3<br><span> 25 лет, водитель трамвая</span> </cite>
      </blockquote>
    </div>
    <button class="reviews__prev" type="button">Предыдущий отзыв</button>
    <button class="reviews__next" type="button">Следующий отзыв</button>
    <div class="reviews__toggles slider__toggles">
      <label class="slider__toggle" for="reviews-input-1"></label>
      <label class="slider__toggle" for="reviews-input-2"></label>
      <label class="slider__toggle" for="reviews-input-3"></label>
    </div>
  </div>
</section>